
/* ************************************************************************************************************************************************************
						《 종근당건강몰 약관 스타일 》
************************************************************************************************************************************************************ */
/* 공통 */
.term_wrap {width:1192px; margin:0 auto;}
.term_wrap .select_area {margin-bottom:24px;}
.term_wrap .term_set p {color:#666; line-height:1.178em;}
.term_wrap .btn_wrap {margin-top:32px;}
