<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<link rel="stylesheet" href="../../assets/css/jquery-ui.min.css">
	<link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="../assets/css/ui.common.css"><!-- PC Web 공통CSS -->
	<script type="text/javascript" src="../../assets/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="../../assets/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../assets/js/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="../assets/js/ui.common.js"></script>
	<link rel="stylesheet" href="guide.css"><!-- 가이드전용CSS -->
	<title>아코디언</title>
</head>

<body>
<!-- #WRAP -->
<div id="wrap">
	<p class="g_tit">selectbox 형태 아코디언</p>
	<!-- 셀렉트박스형 아코디언 -->
	<div class="select_btn_wrap"><!-- 비활성:class="inactv" 추가 -->
		<div class="ui_select select_btn_area">
			<!-- 고정영역 -->
			<div class="ui_selt_layout">
				<div class="ui_selt_ctrl btn_select">
					<p>셀렉트박스형 아코디언 고정노출영역</p>
					<div class="price">
						<p>
							<strong>0</strong><span>원</span>
						</p>
					</div>
					<div class="sp_icon">
						<i class="i_sp_20 arr_down"></i>
					</div>
				</div>
			</div>
			<!--// 고정영역 -->

			<!-- 열림영역 -->
			<div class="ui_selt_cotn option_cotn">
				<div style="padding:16px;">
					<p>셀렉트박스형 아코디언 컨텐츠 영역</p>
				</div>
			</div>
			<!--// 열림영역 -->
		</div>
	</div>
	<!--// 셀렉트박스형 아코디언 -->

	<hr class="div_gap">
	<p class="g_tit">텍스트 아코디언</p>

	<!-- 고정영역 -->
	<div class="ui_drop_layout btn_acc"><!-- 열림:class="active"추가 -->
		<div class="tit">텍스트 아코디언
			<div class="ui_ctrl"><i class="i_sp_16 arr_down"></i></div>
		</div>
	</div>
	<!--// 고정영역 -->

	<!-- 아코디언 컨테츠영역 -->
	<div class="ui_drop_cotn btn_acc_cotn">
		<div style="padding:16px;">
			<p>텍스트 아코디언 컨텐츠영역</p>
		</div>
	</div>
	<!--// 아코디언 컨테츠영역 -->
</div>
<!--// #WRAP -->
</body>
</html>
