<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<link rel="stylesheet" href="../../assets/css/jquery-ui.min.css">
	<link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="../assets/css/ui.common.css"><!-- PC Web 공통CSS -->
	<script type="text/javascript" src="../../assets/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="../../assets/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../assets/js/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="../assets/js/ui.common.js"></script>
	<link rel="stylesheet" href="guide.css"><!-- 가이드전용CSS -->
	<title>버튼가이드</title>
</head>

<body>
<!-- #WRAP -->
<div id="wrap">
	<p class="g_tit">메인 버튼 : type 01</p>
	<div class="btn_wrap" btn-type="main_bt_01">
		<div class="btn_cotn">
			<a href="#none" class="btn" bt_role="confirm">메인버튼</a>
		</div>
	</div>
	<div class="btn_wrap inactv" btn-type="main_bt_01">
		<div class="btn_cotn">
			<a href="#none" class="btn" bt_role="confirm">메인버튼</a>
		</div>
	</div>
	<div class="btn_wrap" btn-type="main_bt_01">
		<div class="btn_cotn">
			<a href="#none" class="btn" bt_role="list">메인버튼</a>
		</div>
	</div>
	<div class="btn_wrap inactv" btn-type="main_bt_01">
		<div class="btn_cotn">
			<a href="#none" class="btn" bt_role="list">메인버튼</a>
		</div>
	</div>
	<div class="btn_wrap" btn-type="main_bt_01">
		<div class="btn_cotn">
			<button type="button" class="btn" bt_role="cancel">취소</button>
			<button type="button" class="btn" bt_role="confirm">확인</button>
		</div>
	</div>
	<div class="btn_wrap inactv" btn-type="main_bt_01">
		<div class="btn_cotn">
			<a href="#none" class="btn" bt_role="cancel">취소</a>
			<a href="#none" class="btn" bt_role="confirm">확인</a>
		</div>
	</div>
	<div class="btn_wrap" btn-type="main_bt_01">
		<div class="btn_cotn">
			<button type="button" class="btn" bt_role="cancel" disabled>취소</button>
			<button type="button" class="btn" bt_role="confirm" disabled>확인</button>
		</div>
	</div>
	<hr class="div_gap">
	<p class="g_tit">메인 버튼 : type 02</p>
	<div class="btn_wrap" btn-type="main_bt_02">
		<div class="btn_cotn">
			<a href="#none" class="btn" bt_role="confirm">메인버튼</a>
		</div>
	</div>
	<div class="btn_wrap" btn-type="main_bt_02">
		<div class="btn_cotn">
			<button type="button" class="btn" bt_role="cancel">취소</button>
			<button type="button" class="btn" bt_role="confirm">확인</button>
		</div>
	</div>
	<div class="btn_wrap inactv" btn-type="main_bt_02">
		<div class="btn_cotn">
			<a href="#none" class="btn" bt_role="cancel">취소</a>
			<a href="#none" class="btn" bt_role="confirm">확인</a>
		</div>
	</div>
	<div class="btn_wrap" btn-type="main_bt_02">
		<div class="btn_cotn">
			<button type="button" class="btn" bt_role="cancel" disabled>취소</button>
			<button type="button" class="btn" bt_role="confirm" disabled>확인</button>
		</div>
	</div>
	<hr class="div_gap">
	<p class="g_tit">버튼 color</p>
	<div class="btn_wrap" btn-type="sub_bt">
		<div class="btn_cotn">
			<button type="button" class="btn jkd_b">jkd_b</button>
			<button type="button" class="btn jkd_b_w">jkd_b_w</button>
			<button type="button" class="btn bc_bk">bc_bk</button>
		</div>
	</div>
	<div class="btn_wrap" btn-type="sub_bt">
		<div class="btn_cotn">
			<a href="#none" class="btn bc_fff">bc_fff</a>
			<a href="#none" class="btn bc_fff_02">bc_fff_02</a>
			<a href="#none" class="btn bc_fg">bc_fg</a>
		</div>
	</div>
	<hr class="div_gap">
	<p class="g_tit">버튼 높이 height</p>
	<div class="btn_wrap" btn-type="sub_bt">
		<div class="btn_cotn">
			<a href="#none" class="btn bc_fg h_62">62px</a>
			<button type="botton" class="btn bc_fg h_62">62px</button>
			<a href="#none" class="btn bc_fg">52px</a>
			<button type="botton" class="btn bc_fg">52px</button>
			<a href="#none" class="btn bc_fg h_40">40px</a>
			<button type="botton" class="btn bc_fg h_40">40px</button>
			<a href="#none" class="btn bc_fg h_32">32px</a>
			<button type="button" class="btn bc_fg h_32">32px</button>
		</div>
	</div>
	<hr class="div_gap">
	<p class="g_tit">버튼 가로 width</p>
	<div class="btn_wrap" btn-type="sub_bt">
		<div class="btn_cotn">
			<a href="#none" class="btn bc_fg w_440">440px</a>
			<button type="button" class="btn bc_fg w_440">440px</button>
		</div>
		<div class="btn_cotn">
			<a href="#none" class="btn bc_fg w_320">320px</a>
			<button type="button" class="btn bc_fg w_320">320px</button>
		</div>
		<div class="btn_cotn">
			<a href="#none" class="btn bc_fg w_100">100%</a>
		</div>
		<div class="btn_cotn">
			<button type="button" class="btn bc_fg w_100">100%</button>
		</div>
	</div>

	<hr class="div_gap">
	<p class="g_tit">리뷰버튼:기본</p>
	<!-- 리뷰버튼 -->
	<div class="btn_wrap" btn-type="sub_bt">
		<div class="btn_cotn">
			<a href="#none" class="btn bc_fff h_32 btn_rv">
				<i class="i_sp_16 write"></i>
				<span class="txt">일반리뷰 (<em>50</em>P)</span>
			</a>
			<a href="#none" class="btn bc_fff_02 h_32 btn_rv">
				<i class="i_sp_16 camera"></i>
				<span class="txt">포토리뷰 (<em>150</em>P)</span>
			</a>
		</div>
	</div>
	<!--// 리뷰버튼 -->

	<p class="g_tit">리뷰버튼:세로</p>
	<!-- 리뷰버튼 -->
	<div class="btn_wrap vtl_st" btn-type="sub_bt">
		<div class="btn_cotn">
			<a href="#none" class="btn bc_fff h_32 btn_rv">
				<i class="i_sp_16 write"></i>
				<span class="txt">일반리뷰 (<em>50</em>P)</span>
			</a>
			<a href="#none" class="btn bc_fff_02 h_32 btn_rv">
				<i class="i_sp_16 camera"></i>
				<span class="txt">포토리뷰 (<em>150</em>P)</span>
			</a>
		</div>
	</div>
	<!--// 리뷰버튼 -->

	<p class="g_tit">리뷰버튼:포토리뷰+삭제</p>
	<!-- 리뷰버튼 -->
	<div class="btn_wrap" btn-type="sub_bt">
		<div class="btn_cotn">
			<a href="#none" class="btn bc_fff_02 h_32 btn_rv">
				<i class="i_sp_16 camera"></i>
				<span class="txt">포토리뷰</span>
			</a>
			<button type="button" class="btn bc_fff h_32 btn_rv">삭제</button>
		</div>
	</div>
	<!--// 리뷰버튼 -->

	<hr class="div_gap">
	<p class="g_tit">초기화/새로고침</p>
	<div class="btn_reset">
		<div class="btn_wrap" btn-type="sub_bt">
			<div class="btn_cotn">
				<a href="#none" class="btn jkd_b_w h_40">초기화</a>
			</div>
		</div>
	</div>

	<hr class="div_gap">
	<p class="g_tit">상품/게시글 액션 버튼</p>
	<div class="btn_action">
		<button type="button" class="actn_bt"><!-- 관심상품 담기 class="add_wish"추가 -->
			<i class="icon_32 wish"></i>
			<span class="blind">관심상품 담기</span>
		</button>
		<button type="button" class="actn_bt add_wish"><!-- 관심상품 담기 class="add_wish"추가 -->
			<i class="icon_32 wish"></i>
			<span class="blind">관심상품 담기</span>
		</button>
		<button type="button" class="actn_bt">
			<i class="icon_32 cart"></i>
			<span class="blind">장바구니 담기</span>
		</button>
		<button type="button" class="actn_bt">
			<i class="icon_32 share"></i>
			<span class="blind">공유하기</span>
		</button>
	</div>

	<hr class="div_gap">
	<p class="g_tit">멀티버튼</p>
	<div class="btn_wrap multi" bt-type="sub_bt">
		<div class="btn_cotn">
			<button type="button" class="btn bc_fff h_40 on">3개월</button><!-- 선택:class="on"추가 -->
			<button type="button" class="btn bc_fff h_40 ">6개월</button>
			<button type="button" class="btn bc_fff h_40 ">1년</button>
			<button type="button" class="btn bc_fff h_40 ">기간조회</button>
		</div>
	</div>


	<hr class="div_gap">
	<p class="g_tit">페이징 Paging</p>
	<!-- paging -->
	<div class="paging">
		<a href="#none" class="i_sp_24 arr_left prev"></a>
		<a href="#none" class="on">1</a><!-- 현재페이지class="on"추가 -->
		<a href="#none">2</a>
		<a href="#none">3</a>
		<a href="#none">4</a>
		<a href="#none">5</a>
		<a href="#none">6</a>
		<a href="#none">7</a>
		<a href="#none">8</a>
		<a href="#none"class="i_sp_24 arr_right next"></a>
	</div>
	<!--// paging -->

	<hr class="div_gap">
	<p class="g_tit">텍스트 링크</p>
	<div style="overflow:hidden; position:relative;">
		<p class="txt_link">
			<a href="#none">더보기</a>
		</p>
	</div>
	<div style="overflow:hidden; position:relative;">
		<p class="txt_link more_gray">
			<a href="#none">더보기</a>
		</p>
	</div>
	<div style="overflow:hidden; position:relative;">
		<p class="txt_link more_bk">
			<a href="#none">더보기</a>
		</p>
	</div>

	<hr class="div_gap">
	<div class="wd_auto">
		<p class="g_tit">툴팁 : 기본</p>
		<!-- 툴팁 -->
		<div class="tooltip_wrap">
			<div class="cotn_wrap">
				<p class="tit_18">적립예정 적립예정</p>
			</div>
			<div class="btn_tool_wrap">
				<a href="#none" class="btn_tooltip">
					<i class="i_sp_18 tool"></i>
				</a>
				<div class="tooltip_box" style=""><!-- 툴팁 넓이 인라인으로 추가 -->
					<div class="tooltip">
						<p>적립예정 적립금에 대한 안내입니다. 적립예정 적립금에 대한 안내입니다</p>
					</div>
				</div>
			</div>
		</div>
		<!--// 툴팁 -->

		<p class="g_tit">툴팁 : 가운데</p>

		<div class="wd_auto">
			<div class="tooltip_wrap tip_mid">
				<div class="cotn_wrap">
					<p class="tit_18">적립예정 간편결제 원터치결제 사용</p>
				</div>
				<div class="btn_tool_wrap">
					<a href="#none" class="btn_tooltip">
						<i class="i_sp_18 tool"></i>
					</a>
					<div class="tooltip_box">
						<div class="tooltip">
							<div class="info_txt clr_bk">
								<p>쿠폰 및 적립금은 주문서에서 사용가능합니다.</p>
								<p>할인금액은 상품금액에서만 할인 됩니다.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<p class="g_tit">툴팁 : 상</p>
		<div class="tooltip_wrap tip_top">
			<div class="cotn_wrap">
				<p class="tit_18">적립예정</p>
			</div>
			<div class="btn_tool_wrap">
				<a href="#none" class="btn_tooltip">
					<i class="i_sp_18 tool"></i>
				</a>
				<div class="tooltip_box">
					<div class="tooltip">
						<p>적립예정 적립금에 대한 안내입니다. </p>
					</div>
				</div>
			</div>
		</div>
		<p class="g_tit">툴팁 : 우</p>
		<div class="tooltip_wrap tip_right" style="display: flex;align-items: center;justify-content: flex-end;">
			<div class="btn_tool_wrap">
				<a href="#none" class="btn_tooltip">
					<i class="i_sp_18 tool"></i>
				</a>
				<div class="tooltip_box">
					<div class="tooltip">
						<p>적립예정 적립금에 대한 안내입니다. </p>
					</div>
				</div>
			</div>
			<div class="cotn_wrap">
				<p class="tit_18">적립예정 원터치결제 사용</p>
			</div>
		</div>

		<p class="g_tit">툴팁 : 상 / 우 / 가운데</p>
		<div class="tooltip_wrap tip_top tip_right tip_mid" style="display: flex;align-items: center;justify-content: flex-end;">
			<div class="btn_tool_wrap">
				<a href="#none" class="btn_tooltip">
					<i class="i_sp_18 tool"></i>
				</a>
				<div class="tooltip_box">
					<div class="tooltip">
						<p>적립예정 적립금에 대한 안내입니다. </p>
					</div>
				</div>
			</div>
			<div class="cotn_wrap">
				<p class="tit_18">적립예정 원터치결제 사용</p>
			</div>
		</div>

		<div class="g_ex">
			<p>툴팁(상) class="tip_top" 추가 </p>
			<p>툴팁(우) class="tip_right" 추가 </p>
			<p>툴팁(가운데) class="tip_mid" 추가 </p>
			<p>타이틀 or 컨텐츠 : class="cotn_wrap"에 작성</p>
		</div>
	</div>

	<hr class="div_gap">
	<p class="g_tit">공유하기툴팁</p>
	<div style="position:relative;">
		<div class="g_ex">
			<p>공유하기 버튼 class="btn_share"로 선언해야 js가 동작함</p>
		</div>
		<a href="#none" class="btn_share">공유하기</a>
		<!-- 공유하기툴팁 -->
		<div class="share_tooltip">
			<div class="tit_area">
				<h3 class="tit_22">공유하기</h3>
				<a href="#none" class="btn_close">
					<i class="i_sp_24 cross"></i>
					<span class="blind">툴팁 닫기</span>
				</a>
			</div>
			<div class="share_list">
				<ul>
					<li>
						<a href="#none">
							<img src="../assets/images/common/icon_share_k.png" alt="">
							<span>카카오톡</span>
						</a>
					</li>
					<li>
						<a href="#none">
							<img src="../assets/images/common/icon_share_b.png" alt="">
							<span>네이버 밴드</span>
						</a>
					</li>
					<li>
						<a href="#none">
							<img src="../assets/images/common/icon_share_f.png" alt="">
							<span>페이스북</span>
						</a>
					</li>
					<li>
						<a href="#none">
							<img src="../assets/images/common/icon_share_i.png" alt="">
							<span>인스타그램</span>
						</a>
					</li>
					<li>
						<a href="#none">
							<img src="../assets/images/common/icon_share_u.png" alt="">
							<span>URL 복사</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!--// 공유하기툴팁 -->
	</div>

	<hr class="div_gap">
	<p class="g_tit">스와이프 슬라이드 이전/다음 컨트롤 버튼</p>
	<div class="wd_auto" style="box-sizing:border-box; position:relative; margin-top:-50px; padding:0 100px; height:200px; width:480px;">
		<div class="swp_btn swiper-button-prev"><i class="i_sp_18 arr_left"></i></div><!-- 이전버튼 -->
		<div class="swp_btn swiper-button-next"><i class="i_sp_18 arr_right"></i></div><!-- 다음버튼 -->
	</div>
</div>
<!--// #WRAP -->
</body>
</html>