<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<link rel="stylesheet" href="../../assets/css/jquery-ui.min.css">
	<link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="../assets/css/ui.common.css"><!-- PC Web 공통CSS -->
	<script type="text/javascript" src="../../assets/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="../../assets/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../assets/js/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="../assets/js/ui.common.js"></script>
	<link rel="stylesheet" href="guide.css"><!-- 가이드전용CSS -->
	<title>폰트가이드</title>
</head>

<body>
<!-- #WRAP -->
<div id="wrap" style="margin:0 auto; padding:1em 0 40em 0; width:1192px;">
	<p class="tit_36">타이틀 클래스 tit_36</p>
	<p class="tit_36">font size class tit_36</p>
	<p class="tit_32">타이틀 클래스 tit_32</p>
	<p class="tit_32">font size class tit_32</p>
	<p class="tit_28">타이틀 클래스 tit_28</p>
	<p class="tit_28">font size class tit_28</p>
	<p class="tit_24">타이틀 클래스 tit_24</p>
	<p class="tit_24">font size class tit_24</p>
	<p class="tit_22">타이틀 클래스 tit_22</p>
	<p class="tit_22">font size class tit_22</p>
	<p class="tit_20">타이틀 클래스 tit_20</p>
	<p class="tit_20">font size class tit_20</p>
	<p class="tit_18">타이틀 클래스 tit_18</p>
	<p class="tit_18">font size class tit_18</p>
	<p class="tit_16">타이틀 클래스 tit_16</p>
	<p class="tit_16">font size class tit_16</p>
	<p>기본 폰트 사이즈</p>
	<p class="g_tit">font-family:lato</p>
	<p class="ff_lato">18,000 : class="ff_lato"</p>

	<hr class="div_gap">
	<p class="g_tit">한줄말줄임</p>
	<p class="t_hd_01" style="width:40%;">* 말줄임 한 줄 class="t_hd_01" 추가, width: 기본 100%, 상황에 맞게 width 조절</p>
	<p class="g_tit">두줄말줄임</p>
	<div style="width:400px;">
		<p class="t_hd_02">* 말줄임 두 줄 class="t_hd_02"<br>line-height, height 값은 상황에 맞게 수정<br>종근당건강의 심볼마크는 종근당의 이념과 이미지를 시각적으로 표현한 상징물로서 모든 대내외적인 시각 커뮤니케이션의 핵심이 된다. 심볼마크의 전체적인 형태는 미래와 세계를 표현한 것이며 원 내부의 종은 종근당의 캐릭터로서 종을 단순화하여 처리한 것이다.</p>
	</div>

	<hr class="div_gap">
	<p class="g_tit">유의사항 기본 16px</p>
	<div class="info_txt">
		<p>장바구니 보관기간은 30일 입니다.</p>
	</div>
	<p class="g_tit">유의사항 font-size 14px</p>
	<div class="info_txt fs_14">
		<p>쿠폰 및 적립금은 주문서에서 사용가능합니다.</p>
		<p>할인금액은 상품금액에서만 할인 됩니다.</p>
	</div>
	<p class="g_tit">유의사항 font-size 12px</p>
	<div class="info_txt fs_12">
		<p>쿠폰 및 적립금은 주문서에서 사용가능합니다.</p>
		<p>할인금액은 상품금액에서만 할인 됩니다.</p>
	</div>
	<p class="g_tit">유의사항 검은색</p>
	<div class="info_txt clr_bk">
		<p>쿠폰 및 적립금은 주문서에서 사용가능합니다.</p>
		<p>할인금액은 상품금액에서만 할인 됩니다.</p>
	</div>
	<p class="g_tit">유의사항 박스</p>
	<div class="bg_box">
		<div class="info_txt fs_14">
			<p>주문 취소는 입금대기/결제완료 상태의 상품만 가능합니다.</p>
			<p>일부 주문취소에 제한이 있는 상품의 경우 1:1 문의를 이용해 주시기 바랍니다.</p>
			<p>교환/반품신청은 배송 완료한 날로부터 7일 이내에 신청 가능하며, 배송완료 후 8일이 경과한 상품의 경우 1:1 문의를 이용해주시기바랍니다.</p>
		</div>
	</div>

	<hr class="div_gap">
	<p class="g_tit">금액</p>
	<div class="price">
		<p>
			<strong>35,000</strong>
			<span>원</span>
		</p>
	</div>

	<hr class="div_gap">
	<p class="g_tit">적립금포인트</p>
	<div class="point">
		<p>
			<strong>1,000</strong>
			<span>P</span>
		</p>
	</div>

	<hr class="div_gap">
	<p class="g_tit">수량</p>
	<div class="amount">
		<p>
			<strong>3</strong>개
		</p>
	</div>

	<hr class="div_gap">
	<p class="g_tit">좌우 텍스트:기본</p>
	<div class="dl_layout">
		<div class="dl_div">
			<p class="tit">금액</p>
			<div class="price">
				<strong>25,000</strong>
				<span>원</span>
			</div>
		</div>
	</div>

	<hr class="div_gap">
	<p class="g_tit">좌우 텍스트:왼쪽정렬</p>
	<div class="dl_layout a_l">
		<div class="dl_div">
			<p class="tit">배송지</p>
			<div class="txt">
				<address>서울시 강남구 학동로 146 와일리 타워 2층</address>
			</div>
		</div>
	</div>

	<hr class="div_gap">
	<p class="g_tit">타이틀 36 (서브페이지 타이틀)</p>
	<div class="sub_tit_36">
		<h1 class="tit_36">브랜드</h1>
	</div>

	<hr class="div_gap">
	<p class="g_tit">타이틀 32</p>
	<div class="sub_tit_32">
		<h1 class="tit_32">타이틀 32px 스타일</h1>
	</div>

	<hr class="div_gap">
	<p class="g_tit">타이틀 28</p>
	<div class="sub_tit_28">
		<h1 class="tit_28">타이틀 28</h1>
	</div>

	<hr class="div_gap">
	<p class="g_tit">타이틀 24</p>
	<div class="sub_tit_24">
		<h1 class="tit_24">타이틀 24</h1>
	</div>

	<hr class="div_gap">
	<p class="g_tit">타이틀 24 + 텍스트링크</p>
	<div class="sub_tit_24">
		<h1 class="tit_24">타이틀 24 + 텍스트링크</h1>
		<p class="txt_link more_gray">
			<a href="#none">더보기</a>
		</p>
	</div>
	<div class="sub_tit_24">
		<h1 class="tit_24">타이틀 24 + 텍스트링크</h1>
		<p class="txt_link more_bk">
			<a href="#none">더보기</a>
		</p>
	</div>

	<hr class="div_gap">
	<p class="g_tit">타이틀 24 + 문구</p>
	<div class="sub_tit_24">
		<h1 class="tit_24">타이틀 24 + 문구</h1>
		<p class="tit_copy">10만원 이상 금액대별 사은품</p>
	</div>

	<hr class="div_gap">
	<p class="g_tit">타이틀 20</p>
	<div class="sub_tit_20">
		<h1 class="tit_20">타이틀 20</h1>
	</div>

	<hr class="div_gap">
	<p class="g_tit">타이틀 20 + 버튼</p>
	<div class="sub_tit_20">
		<h1 class="tit_20">타이틀 20 + 버튼</h1>
		<div class="btn_wrap" btn-type="sub_bt">
			<div class="btn_cotn">
				<a href="#none" class="btn bc_fg h_32">버튼</a>
			</div>
		</div>
	</div>
</div>
<!--// #WRAP -->
</body>
</html>
