<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=8,IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<link rel="stylesheet" href="../../assets/css/jquery-ui.min.css">
	<link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="../assets/css/ui.common.css"><!-- PC Web 공통CSS -->
	<script type="text/javascript" src="../../assets/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="../../assets/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../assets/js/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="../assets/js/ui.common.js"></script>
	<title>PC 폼 스타일</title>
	<link rel="stylesheet" href="guide.css"><!-- 가이드전용CSS -->
</head>

<body>
<!-- #WRAP -->
<div id="wrap">
	<p class="g_tit">Input Text</p>
	<!-- 입력필드:1세트 -->
	<div class="form_inpt wrn"><!-- 에러 메세지 노출 class="wrn" 추가, 일치 메세지 노출 class="pass" 추가, 입력값 오류 class="error" 추가 -->
		<div class="tit_field">
			<p class="necd">
				<span>필드타이틀</span>
			</p>
		</div>
		<div class="txt">
			<input type="text" placeholder="입력필드">
			<button type="button" class="i_sp_20 del"><span class="blind">입력텍스트삭제</span></button><!-- 텍스트입력시노출 -->
		</div>
		<div class="msg_wrap">
			<p class="err_msg">얼럿메시지 영역</p>
		</div>
	</div>
	<!--// 입력필드:1세트 -->

	<div class="form_inpt pass">
		<div class="tit_field">
			<p class="necd">
				<span>필드타이틀</span>
			</p>
		</div>
		<div class="txt">
			<input type="text" placeholder="disabled" value="disabled" disabled>
			<button type="button" class="i_sp_20 del"><span class="blind">입력텍스트삭제</span></button>
		</div>
		<div class="msg_wrap">
			<p class="err_msg">얼럿메시지 영역</p>
		</div>
	</div>

	<div class="form_inpt">
		<div class="tit_field">
			<p class="necd">
				<span>필드타이틀</span>
			</p>
		</div>
		<div class="txt">
			<input type="text" placeholder="입력필드" value="readonly" readonly>
			<button type="button" class="i_sp_20 del"><span class="blind">입력텍스트삭제</span></button>
		</div>
	</div>

	<!-- 암호입력 -->
	<div class="form_inpt error wrn"><!-- 에러 메세지 노출 class="wrn" 추가, 일치 메세지 노출 class="pass" 추가, 입력값 오류 class="error" 추가 -->
		<div class="tit_field">
			<p class="necd">
				<span>필드타이틀</span>
			</p>
		</div>
		<div class="txt">
			<input type="password" placeholder="암호입력" value="암호입력">
			<button type="button" class="btn_pw show"><span class="blind">암호보기</span></button><!-- 텍스트입력시노출 -->
		</div>
		<div class="msg_wrap">
			<p class="err_msg">얼럿메시지 영역</p>
		</div>
	</div>
	<!--// 암호입력 -->

	<!-- input text 두개세트 -->
	<div class="form_inpt duo">
		<div class="tit_field">
			<p class="necd">
				<span>필드타이틀</span>
			</p>
		</div>
		<div class="txt">
			<span>
				<input type="text" placeholder="입력필드">
				<i class="bdr"></i>
				<button type="button" class="del"><span class="blind">입력텍스트삭제</span></button>
			</span>
			<span>
				<input type="text" placeholder="입력필드">
				<i class="bdr"></i>
				<button type="button" class="del"><span class="blind">입력텍스트삭제</span></button>
			</span>
		</div>
	</div>
	<!--// input text 두개세트 -->

	<hr class="div_gap">
	<p class="g_tit">입력한 텍스트 삭제버튼 노출 샘플</p>
	<div class="form_inpt">
		<div class="tit_field">
			<p class="necd">
				<span>입력한 텍스트 삭제버튼 샘플</span>
			</p>
		</div>
		<div class="txt">
			<input type="text" placeholder="입력필드">
			<button type="button" class="i_sp_20 del" style="display:block;"><!-- 텍스트입력시노출 -->
				<span class="blind">입력텍스트삭제</span>
			</button>
		</div>
		<div class="msg_wrap">
			<p class="err_msg">얼럿메시지 영역</p>
		</div>
	</div>

	<hr class="div_gap">
	<p class="g_tit">암호 show / hide 아이콘 노출 샘플</p>
	<div class="form_inpt">
		<div class="tit_field">
			<p class="necd">
				<span>암호해제 샘플</span>
			</p>
		</div>
		<div class="txt">
			<input type="password" placeholder="암호입력" value="암호입력">

			<button type="button" class="btn_pw show" style="display:block;"><!-- 텍스트입력시노출, 암호해제class="show", 암호숨기기class="hide" -->
				<span class="blind">암호보기</span>
			</button>
		</div>
		<div class="msg_wrap">
			<p class="err_msg">얼럿메시지 영역</p>
		</div>
	</div>
	<div class="form_inpt">
		<div class="tit_field">
			<p class="necd">
				<span>암호숨기기 샘플</span>
			</p>
		</div>
		<div class="txt">
			<input type="text" placeholder="암호입력" value="암호입력">
			<button type="button" class="btn_pw hide" style="display:block;"><!-- 텍스트입력시노출, 암호해제class="show", 암호숨기기class="hide" -->
				<span class="blind">암호보기</span>
			</button>
		</div>
		<div class="msg_wrap">
			<p class="err_msg">얼럿메시지 영역</p>
		</div>
	</div>

	<hr class="div_gap">
	<p class="g_tit">조건 중복 체크</p>
	<!-- 입력필드:1세트 -->
	<div class="form_inpt wrn error"><!-- 에러 메세지 노출 class="wrn" 추가, 일치 메세지 노출 class="pass" 추가, 입력값 오류 class="error" 추가 -->
		<div class="tit_field">
			<p class="necd">
				<span>필드타이틀</span>
			</p>
		</div>
		<div class="txt">
			<input type="text" placeholder="입력필드">
			<button type="button" class="i_sp_20 del"><span class="blind">입력텍스트삭제</span></button>
		</div>
		<!-- 조건체크값 -->
		<div class="val_check">
			<span class="pass">영문소문자</span><!-- 조건 충족 시 class="pass" -->
			<span>숫자</span>
			<span>조합 4~20자</span>
			<span>아이디중복확인</span>
			<span class="pass">일치</span>
		</div>
		<!--// 조건체크값 -->

		<!-- 입력메세지 -->
		<div class="msg_wrap">
			<p class="err_msg">아이디가 중복되었습니다.</p>
		</div>
		<!--// 입력메세지 -->
	</div>
	<!--// 입력필드:1세트 -->

	<!-- 암호입력 -->
	<div class="form_inpt wrn"><!-- 에러 메세지 노출 class="wrn" 추가, 일치 메세지 노출 class="pass" -->
		<div class="tit_field">
			<p class="necd">
				<span>필드타이틀</span>
			</p>
		</div>
		<div class="txt">
			<input type="password" placeholder="암호입력" value="암호입력">
			<button class="btn_pw show"><span class="blind">암호보기</span></button>
			<button type="button" class="i_sp_20 del"><span class="blind">입력텍스트삭제</span></button>
		</div>
		<div class="val_check">
			<span class="pass">영문</span><!-- 조건 충족 시 class="pass" -->
			<span class="pass">숫자</span>
			<span class="fail">특수문자</span>
			<span>조합 8~16자</span>
			<span class="pass">일치</span>
		</div>
		<div class="msg_wrap">
			<p class="err_msg">특수문자를 입력해 주세요.</p>
		</div>
	</div>
	<!--// 암호입력 -->

	<hr class="div_gap">
	<p class="g_tit">입력필드 높이 62px</p>
	<div class="form_inpt h_62">
		<div class="tit_field">
			<p class="necd">
				<span>필드타이틀</span>
			</p>
		</div>
		<div class="txt">
			<input type="text" placeholder="입력필드">
			<button type="button" class="i_sp_20 del"><span class="blind">입력텍스트삭제</span></button>
		</div>
		<div class="msg_wrap">
			<p class="err_msg">얼럿메시지 영역</p>
		</div>
	</div>

	<hr class="div_gap">
	<p class="g_tit">입력필드 높이 40px</p>
	<div class="form_inpt h_40">
		<div class="tit_field">
			<p class="necd">
				<span>필드타이틀</span>
			</p>
		</div>
		<div class="txt">
			<input type="text" placeholder="입력필드">
			<button type="button" class="i_sp_20 del"><span class="blind">입력텍스트삭제</span></button>
		</div>
		<div class="msg_wrap">
			<p class="err_msg">얼럿메시지 영역</p>
		</div>
	</div>

	<hr class="div_gap">
	<p class="g_tit">SelectBox</p>
	<div class="form_select">
		<select>
			<option>대한민국은 민주공화국이다. 대한민국의 주권은 국민에게 있고,</option>
			<option>선택해 주세요.</option>
			<option>선택해 주세요.</option>
		</select>
		<i class="i_sp_20 arr_down"></i>
	</div>
	<p class="g_tit">SelectBox height 62</p>
	<div class="form_select h_62">
		<select>
			<option>대한민국은 민주공화국이다. 대한민국의 주권은 국민에게 있고,</option>
			<option>선택해 주세요.</option>
			<option>선택해 주세요.</option>
		</select>
		<i class="i_sp_20 arr_down"></i>
	</div>
	<p class="g_tit">SelectBox mini</p>
	<div class="form_select mini">
		<select>
			<option>대한민국은 민주공화국이다. 대한민국의 주권은 국민에게 있고,</option>
			<option>선택해 주세요.</option>
			<option>선택해 주세요.</option>
		</select>
		<i class="i_sp_16 arr_down"></i>
	</div>
	<p class="g_tit">SelectBox : 경고 메세지 있을 경우</p>
	<div class="input_set">
		<div class="form_select">
			<select>
				<option>대한민국은 민주공화국이다. 대한민국의 주권은 국민에게 있고,</option>
				<option>선택해 주세요.</option>
				<option>선택해 주세요.</option>
			</select>
			<i class="i_sp_20 arr_down"></i>
		</div>
		<div class="msg_wrap">
			<p class="err_msg">경고 메시지 영역</p>
		</div>
	</div>

	<hr class="div_gap">
	<p class="g_tit">Textarea</p>
	<!-- textarea -->
	<div class="form_text_area">
		<div class="text_area">
			<textarea placeholder="내용을 입력해 주세요.(최대 1,000자)"></textarea>
			<div class="wrd_length">
				<p>
					<span>0</span>
					<em>1,000</em>
				</p>
			</div>
		</div>
		<div class="msg_wrap">
			<p class="err_msg">경고 메시지 영역</p>
		</div>
	</div>
	<!--// textarea -->
	<div class="form_text_area">
		<div class="text_area">
			<textarea placeholder="내용을 입력해 주세요.(최대 1,000자)" disabled></textarea>
			<div class="wrd_length">
				<p>
					<span>0</span>
					<em>1,000</em>
				</p>
			</div>
		</div>
	</div>

	<hr class="div_gap">
	<p class="g_tit">체크박스</p>
	<div class="form_chk">
		<!-- 1세트 -->
		<label class="group">
			<input type="checkbox">
			<i class="icon"></i>
			<strong class="txt">체크박스</strong>
			<span class="blind">선택</span>
		</label>
		<!--// 1세트 -->
		<label class="group">
			<input type="checkbox" checked>
			<i class="icon"></i>
			<strong class="txt">체크박스</strong>
			<span class="blind">선택</span>
		</label>
		<label class="group">
			<input type="checkbox" disabled>
			<i class="icon"></i>
			<strong class="txt">체크박스</strong>
			<span class="blind">선택</span>
		</label>
	</div>

	<div class="form_chk">
		<!-- 1세트 -->
		<label class="group">
			<input type="checkbox">
			<i class="icon"></i>
			<span class="txt">체크박스</span>
			<span class="blind">선택</span>
		</label>
		<!--// 1세트 -->
		<label class="group">
			<input type="checkbox" checked>
			<i class="icon"></i>
			<span class="txt">체크박스</span>
			<span class="blind">선택</span>
		</label>
		<label class="group">
			<input type="checkbox" disabled>
			<i class="icon"></i>
			<span class="txt">체크박스</span>
			<span class="blind">선택</span>
		</label>
	</div>

	<!-- 체크박스:박스형:1세트 -->
	<div class="form_chk box"><!-- 박스형선택 class="on"추가 -->
		<label class="group">
			<input type="checkbox">
			<i class="icon"></i>
			<span class="blind">선택</span>
		</label>
		<div class="cotn">
			<p class="txt">체크박스 박스형</p>
		</div>
	</div>
	<!--// 체크박스:박스형:1세트 -->
	<div class="form_chk box on">
		<label class="group">
			<input type="checkbox" checked>
			<i class="icon"></i>
			<span class="blind">선택</span>
		</label>
		<div class="cotn">
			<p class="txt">체크박스 박스형</p>
		</div>
	</div>
	<div class="form_chk box unchk">
		<label class="group">
			<input type="checkbox" disabled>
			<i class="icon"></i>
			<span class="blind">선택</span>
		</label>
		<div class="cotn">
			<p class="txt">체크박스 박스형</p>
		</div>
	</div>

	<!-- 체크박스:슬림박스형:1세트 -->
	<div class="form_chk box_slim">
		<label class="group">
			<input type="checkbox">
			<i class="icon"></i>
			<span class="blind">선택</span>
		</label>
		<div class="cotn">
			<p class="txt">슬림 박스형 체크 박스</p>
		</div>
	</div>
	<!--// 체크박스:슬림박스형:1세트 -->
	<div class="form_chk box_slim on">
		<label class="group">
			<input type="checkbox" checked>
			<i class="icon"></i>
			<span class="blind">선택</span>
		</label>
		<div class="cotn">
			<p class="txt">슬림 박스형 체크 박스</p>
		</div>
	</div>
	<div class="form_chk box_slim unchk">
		<label class="group">
			<input type="checkbox" disabled>
			<i class="icon"></i>
			<span class="blind">선택</span>
		</label>
		<div class="cotn">
			<p class="txt">슬림 박스형 체크 박스</p>
		</div>
	</div>

	<!-- 체크박스:미니박스형:1세트 -->
	<div class="form_chk box_mini">
		<label class="group">
			<input type="checkbox">
			<i class="icon"></i>
			<span class="blind">선택</span>
		</label>
		<div class="cotn">
			<p class="txt">미니 박스형 체크 박스</p>
		</div>
	</div>
	<!--// 체크박스:미니박스형:1세트 -->
	<div class="form_chk box_mini on">
		<label class="group">
			<input type="checkbox" checked>
			<i class="icon"></i>
			<span class="blind">선택</span>
		</label>
		<div class="cotn">
			<p class="txt">미니 박스형 체크 박스</p>
		</div>
	</div>
	<div class="form_chk box_mini unchk">
		<label class="group">
			<input type="checkbox" disabled>
			<i class="icon"></i>
			<span class="blind">선택</span>
		</label>
		<div class="cotn">
			<p class="txt">미니 박스형 체크 박스</p>
		</div>
	</div>

	<hr class="div_gap">
	<p class="g_tit">라디오버튼</p>
	<div class="form_rdo">
		<!-- 라디오1세트 -->
		<label for="rd1" class="group">
			<input type="radio" id="rd1" name="temp1">
			<i class="icon"></i>
			<span class="txt">라디오버튼</span>
			<span class="blind">선택</span>
		</label>
		<!--// 라디오1세트 -->
		<label for="rd2" class="group">
			<input type="radio" id="rd2" name="temp1" checked>
			<i class="icon"></i>
			<span class="txt">라디오버튼</span>
			<span class="blind">선택</span>
		</label>
		<label for="rd3" class="group">
			<input type="radio" id="rd3" name="temp1" disabled>
			<i class="icon"></i>
			<span class="txt">라디오버튼</span>
			<span class="blind">선택</span>
		</label>
	</div>

	<!-- 라디오:박스형 -->
	<div class="form_rdo box">
		<!-- 1세트 -->
		<div class="group">
			<input type="radio" id="bx1" name="box">
			<i class="icon"></i>
			<div class="cotn">
				<p class="txt">박스형 라디오버튼</p>
				<span class="blind">선택</span>
			</div>
		</div>
		<!--// 1세트 -->
		<div class="group">
			<input type="radio" id="bx1" name="box" checked>
			<i class="icon"></i>
			<div class="cotn">
				<p class="txt">박스형 라디오버튼</p>
				<span class="blind">선택</span>
			</div>
		</div>
		<div class="group">
			<input type="radio" id="bx1" name="box" disabled>
			<i class="icon"></i>
			<div class="cotn">
				<p class="txt">박스형 라디오버튼</p>
				<span class="blind">선택</span>
			</div>
		</div>
	</div>
	<!--// 라디오:박스형 -->

	<!-- 라디오:슬림박스형 -->
	<div class="form_rdo box_slim">
		<!-- 1세트 -->
		<div class="group">
			<input type="radio" id="bxs1" name="box_slim">
			<i class="icon"></i>
			<div class="cotn">
				<span class="txt">슬림 박스형 라디오버튼</span>
			</div>
			<span class="blind">선택</span>
		</div>
		<!--// 1세트 -->
		<div class="group">
			<input type="radio" id="bxs2" name="box_slim" checked>
			<i class="icon"></i>
			<div class="cotn">
				<span class="txt">슬림 박스형 라디오버튼</span>
			</div>
			<span class="blind">선택</span>
		</div>
		<div class="group">
			<input type="radio" id="bxs3" name="box_slim" disabled>
			<i class="icon"></i>
			<div class="cotn">
				<span class="txt">슬림 박스형 라디오버튼</span>
			</div>
			<span class="blind">선택</span>
		</div>
	</div>
	<!--// 라디오:슬림박스형 -->

	<hr class="div_gap">
	<p class="g_tit">인증번호</p>
	<!-- 인증번호 -->
	<div class="form_inpt wrn"><!-- 에러 메세지 노출 class="wrn" 추가, 일치 메세지 노출 class="pass" -->
		<div class="tit_field">
			<p class="necd">
				<span>필드타이틀</span>
			</p>
		</div>
		<!-- 입력 -->
		<div class="cert_number">
			<div class="txt">
				<input type="tel" placeholder="인증번호를 입력해 주세요." value="123456" maxlength="6">
				<p class="time">09:58</p>
			</div>
			<div class="btn_wrap" btn-type="sub_bt">
				<div class="btn_cotn">
					<button type="button" class="btn bc_fff_02">인증번호 확인</button>
				</div>
			</div>
		</div>
		<!--// 입력 -->

		<!-- 입력메세지 -->
		<div class="msg_wrap">
			<p class="err_msg">얼럿메시지 영역</p>
		</div>
		<!--// 입력메세지 -->
	</div>
	<!--// 인증번호 -->

	<hr class="div_gap">
	<p class="g_tit">input text+돋보기버튼</p>
	<div class="srch_inpt">
		<div class="form_inpt h_40">
			<div class="txt">
				<input type="text" placeholder="상품명을 입력해 주세요.">
			</div>
		</div>
		<button type="button" class="bt_search"><span class="blind">검색하기</span></button>
	</div>

	<hr class="div_gap">
	<p class="g_tit">파일 첨부</p>
	<!-- 파일첨부 -->
	<div class="form_inpt add_file wrn"><!-- 에러 메세지 노출 class="wrn" 추가, 일치 메세지 노출 class="pass" -->
		<div class="tit_field">
			<p class="necd">
				<span>첨부파일</span>
			</p>
			<p class="info_copy">사업자 등록증을 반드시 첨부해 주세요.</p>
		</div>
		<!-- 1세트 -->
		<div class="file_set"><!-- 파일첨부 시 class="add" 추가 -->
			<!-- 첨부버튼 -->
			<div class="btn_wrap" btn-type="sub_bt">
				<div class="btn_cotn">
					<label for="add_file" class="btn bc_fff_02 add_file">
						<span>첨부</span>
						<input type="file" id="add_file">
					</label>
				</div>
			</div>
			<!--// 첨부버튼 -->

			<!-- 파일명노출 -->
			<div class="txt">
				<input type="text" placeholder="사업자등록증을 등록해 주세요." readonly>
				<button type="button" class="i_sp_20 del"><span class="blind">첨부파일 삭제</span></button>
			</div>
			<!--// 파일명노출 -->
		</div>
		<!--// 1세트 -->
		<div class="file_set">
			<div class="btn_wrap" btn-type="sub_bt">
				<div class="btn_cotn">
					<label for="add_file" class="btn bc_fff_02 add_file">
						<span>첨부</span>
						<input type="file" id="add_file">
					</label>
				</div>
			</div>
			<div class="txt">
				<input type="text" placeholder="사용인감계를 등록해 주세요." readonly>
				<button type="button" class="i_sp_20 del"><span class="blind">첨부파일 삭제</span></button>
			</div>
		</div>
		<div class="file_set add">
			<div class="btn_wrap" btn-type="sub_bt">
				<div class="btn_cotn">
					<label for="add_file" class="btn bc_fff_02 add_file">
						<span>첨부</span>
						<input type="file" id="add_file">
					</label>
				</div>
			</div>
			<div class="txt">
				<input type="text" placeholder="사용인감계를 등록해 주세요." readonly value="사용인감계파일명길어지면말줄임되는게좋겠습니다.pdf">
				<button type="button" class="i_sp_20 del"><span class="blind">첨부파일 삭제</span></button>
			</div>
		</div>
		<div class="msg_wrap">
			<p class="err_msg">얼럿메시지 영역</p>
		</div>
	</div>
	<!--// 파일첨부 -->

	<hr class="div_gap">
	<p class="g_tit">주소 검색:결제</p>
	<!-- 주소입력 -->
	<div class="form_inpt form_addrs wrn"><!-- 에러 메세지 노출 class="wrn" 추가, 일치 메세지 노출 class="pass" 추가, 입력값 오류 class="error" 추가 -->
		<div class="addrs_inp_area">
			<div class="txt">
				<input type="text" placeholder="주소를 입력해 주세요." value="" disabled>
			</div>
			<div class="btn_wrap" btn-type="sub_bt">
				<div class="btn_cotn">
					<a href="#none" class="btn bc_bk w_100">주소찾기</a>
				</div>
			</div>
		</div>
		<div class="txt">
			<input type="tel" placeholder="상세 주소를 입력해 주세요." value="">
		</div>
		<div class="msg_wrap">
			<p class="err_msg">얼럿메시지 영역</p>
		</div>
	</div>
	<!--// 주소입력 -->

	<hr class="div_gap">
	<p class="g_tit">주소 검색:회원가입:높이62</p>
	<!-- 주소입력 -->
	<div class="form_inpt h_62 form_addrs wrn"><!-- 에러 메세지 노출 class="wrn" 추가, 일치 메세지 노출 class="pass" 추가, 입력값 오류 class="error" 추가 -->
		<div class="addrs_inp_area">
			<div class="txt">
				<input type="text" placeholder="주소를 입력해 주세요." value="" disabled>
			</div>
			<div class="btn_wrap" btn-type="sub_bt">
				<div class="btn_cotn">
					<a href="#none" class="btn bc_bk h_62 w_100">주소찾기</a>
				</div>
			</div>
		</div>
		<div class="txt">
			<input type="tel" placeholder="상세 주소를 입력해 주세요." value="">
		</div>
		<div class="msg_wrap">
			<p class="err_msg">얼럿메시지 영역</p>
		</div>
	</div>
	<!--// 주소입력 -->
</div>
<!--// #WRAP -->
</body>
</html>