<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<link rel="stylesheet" href="../../assets/css/jquery-ui.min.css">
	<link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="../assets/css/ui.common.css"><!-- PC Web 공통CSS -->
	<script type="text/javascript" src="../../assets/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="../../assets/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../assets/js/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="../assets/js/ui.common.js"></script>
	<link rel="stylesheet" href="guide.css"><!-- 가이드전용CSS -->
	<title>종근당건강몰 PC 가이드</title>
</head>
<body>
<style>

</style>
<div class="wrap">
	<main class="guide-wrap">
		<!-- layout -->
		<h1 class="tit_32">종근당건강몰 퍼블리싱 PC 가이드</h1>
		<section class="guide-sec">
			<!-- 폰트 -->
			<article id="font" class="guide-box">
				<h1 class="tit_16">📢 폰트 스타일 : </h1>
				<p>
					<a href="font.html" target="_blank">font.html</a>
				</p>
				<div class="iframe-box"><iframe src="font.html" frameborder="0"></iframe></div>
			</article>
			<!--// 폰트 -->

			<!-- 버튼 -->
			<article id="button" class="guide-box">
				<h1 class="tit_16">📢 버튼 스타일 : </h1>
				<p>
					<a href="button.html" target="_blank">button.html</a>
				</p>
				<div class="iframe-box"><iframe src="button.html" frameborder="0"></iframe></div>
			</article>
			<!--// 버튼 -->

			<!-- 폼요소 -->
			<article id="form" class="guide-box">
				<h1 class="tit_16">📢 폼요소 : </h1>
				<p>
					<a href="form.html" target="_blank">form.html</a>
				</p>
				<div class="iframe-box"><iframe src="form.html" frameborder="0"></iframe></div>
			</article>
			<!--// 폼요소 -->

			<!-- 팝업 -->
			<article id="popup" class="guide-box">
				<h1 class="tit_16">📢 팝업 : </h1>
				<p>
					<a href="popup.html" target="_blank">popup.html</a>
				</p>
				<div class="iframe-box"><iframe src="popup.html" frameborder="0"></iframe></div>
			</article>
			<!--// 팝업 -->

			<!-- 탭메뉴 -->
			<article id="tab" class="guide-box">
				<h1 class="tit_16">📢 탭메뉴 : </h1>
				<p>
					<a href="tab.html" target="_blank">tab.html</a>
				</p>
				<div class="iframe-box"><iframe src="tab.html" frameborder="0"></iframe></div>
			</article>
			<!--// 탭메뉴 -->

			<!-- 헤더 -->
			<article id="header" style="position:static;" class="guide-box">
				<h1 class="tit_16">📢 헤더 : </h1>
				<p>
					<a href="header.html" target="_blank">header.html</a>
				</p>
				<div class="iframe-box"><iframe src="header.html" frameborder="0"></iframe></div>
			</article>
			<!--// 헤더 -->

			<!-- 상품UI -->
			<article id="product" class="guide-box">
				<h1 class="tit_16">📢 상품UI : </h1>
				<p>
					<a href="product.html" target="_blank">product.html</a>
				</p>
				<div class="iframe-box"><iframe src="product.html" frameborder="0"></iframe></div>
			</article>
			<!--// 상품UI -->

			<!-- 아코디언 -->
			<article id="accordion" class="guide-box">
				<h1 class="tit_16">📢 아코디언 : </h1>
				<p>
					<a href="accordion.html" target="_blank">accordion.html</a>
				</p>
				<div class="iframe-box"><iframe src="accordion.html" frameborder="0"></iframe></div>
			</article>
			<!--// 아코디언 -->

			<!-- 게시판목록 -->
			<article id="list" class="guide-box">
				<h1 class="tit_16">📢 게시판목록 : </h1>
				<p>
					<a href="list.html" target="_blank">list.html</a>
				</p>
				<div class="iframe-box"><iframe src="list.html" frameborder="0"></iframe></div>
			</article>
			<!--// 게시판목록 -->

			<!-- 상세 -->
			<article id="view" class="guide-box">
				<h1 class="tit_16">📢 상세 : </h1>
				<p>
					<a href="view.html" target="_blank">view.html</a>
				</p>
				<div class="iframe-box"><iframe src="view.html" frameborder="0"></iframe></div>
			</article>
			<!--// 상세 -->

			<!-- 기타컴포넌트가이드 -->
			<article id="sub_guide" class="guide-box">
				<h1 class="tit_16">📢 기타컴포넌트 가이드 : </h1>
				<p>
					<a href="sub_guide.html" target="_blank">sub_guide.html</a>
				</p>
				<div class="iframe-box"><iframe src="sub_guide.html" frameborder="0"></iframe></div>
			</article>
			<!--// 기타컴포넌트가이드 -->

			<!-- 테이블 -->
			<article id="table" class="guide-box">
				<h1 class="tit_16">📢 테이블UI : </h1>
				<p>
					<a href="table.html" target="_blank">table.html</a>
				</p>
				<div class="iframe-box"><iframe src="table.html" frameborder="0"></iframe></div>
			</article>
			<!--// 테이블 -->

			<!-- 쿠폰레이아웃 -->
			<article id="coupon" class="guide-box">
				<h1 class="tit_16">📢 쿠폰레이아웃 : </h1>
				<p>
					<a href="coupon.html" target="_blank">coupon.html</a>
				</p>
				<div class="iframe-box"><iframe src="coupon.html" frameborder="0"></iframe></div>
			</article>
			<!--// 쿠폰레이아웃 -->

			<!-- 서브템플릿 -->
			<article id="sub_temp" class="guide-box">
				<h1 class="tit_16">📢 서브템플릿 - 헤더+전체카테고리+퀵메뉴+푸터 : </h1>
				<p>
					<a href="sub_temp.html" target="_blank">sub_temp.html</a>
				</p>
				<div class="iframe-box"><iframe src="sub_temp.html" frameborder="0"></iframe></div>
			</article>
			<!--// 서브템플릿 -->

			<!-- 마이페이지템플릿(회원) -->
			<article id="mypage" class="guide-box">
				<h1 class="tit_16">📢 마이페이지템플릿(회원) : </h1>
				<p>
					<a href="mypage.html" target="_blank">mypage.html</a>
				</p>
				<div class="iframe-box"><iframe src="mypage.html" frameborder="0"></iframe></div>
			</article>
			<!--// 마이페이지템플릿(회원) -->

			<!-- 마이페이지템플릿(비회원) -->
			<article id="non_mypage" class="guide-box">
				<h1 class="tit_16">📢 마이페이지템플릿(비회원) : </h1>
				<p>
					<a href="non_mypage.html" target="_blank">non_mypage.html</a>
				</p>
				<div class="iframe-box"><iframe src="non_mypage.html" frameborder="0"></iframe></div>
			</article>
			<!--// 마이페이지템플릿(비회원) -->
		</section>
		<!--// layout -->
	</main>

	<aside class="go_menu">
		<ul>
			<li><a href="#font">폰트 스타일</a></li>
			<li><a href="#button">버튼 스타일</a></li>
			<li><a href="#form">폼요소</a></li>
			<li><a href="#popup">팝업</a></li>
			<li><a href="#tab">탭메뉴</a></li>
			<li><a href="#header">헤더</a></li>
			<li><a href="#product">상품UI</a></li>
			<li><a href="#accordion">아코디언</a></li>
			<li><a href="#list">게시판목록</a></li>
			<li><a href="#view">게시판상세</a></li>
			<li><a href="#sub_guide">기타컴포넌트</a></li>
			<li><a href="#table">테이블UI</a></li>
			<li><a href="#coupon">쿠폰레이아웃</a></li>
			<li><a href="#sub_temp">서브템플릿</a></li>
			<li><a href="#mypage">마이페이지</a></li>
			<li><a href="#non_mypage">마이페이지:비회원</a></li>
		</ul>
	</aside>
</div>
</body>
</html>