<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<link rel="stylesheet" href="../../assets/css/jquery-ui.min.css">
	<link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="../../assets/css/ui.public.css">
	<link rel="stylesheet" href="../assets/css/ui.common.css">
	<script type="text/javascript" src="../../assets/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="../../assets/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../assets/js/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="../assets/js/ui.common.js"></script>
	<link rel="stylesheet" href="guide.css"><!-- 가이드전용CSS -->
	<title>버튼스타일</title>
</head>

<body>
<!-- #WRAP -->
<div id="wrap" style="padding-bottom:30vw;">
	<p class="tit">👉 메인 버튼</p>
	<div class="btn_wrap" btn-type="main_bt">
		<a href="#none" class="btn" bt_role="confirm">메인버튼</a>
	</div>
	<p class="tit">👉 메인 버튼</p>
	<div class="btn_wrap" btn-type="main_bt">
		<a href="#none" class="btn" bt_role="cancel">취소</a>
		<a href="#none" class="btn" bt_role="confirm">확인</a>
	</div>
	<p class="tit">👉 메인 버튼 : 비활성</p>
	<div class="btn_wrap inactv" btn-type="main_bt">
		<a href="#none" class="btn" bt_role="cancel">취소</a>
		<a href="#none" class="btn" bt_role="confirm">확인</a>
	</div>
	<p class="tit">👉 바닥 고정</p>
	<div class="btn_fixed">
		<div class="btn_wrap" btn-type="main_bt">
			<button type="button" class="btn" bt_role="cancel">취소</button>
			<a href="#none" class="btn" bt_role="confirm">확인</a>
		</div>
	</div>

	<hr class="div_gap">

	<p class="tit">👉 서브 버튼</p>
	<div class="btn_wrap" btn-type="sub_bt">
		<a href="#none" class="btn jkd_b">서브버튼</a>
	</div>
	<div class="btn_wrap" btn-type="sub_bt">
		<a href="#none" class="btn bc_bk">서브버튼</a>
	</div>
	<div class="btn_wrap" btn-type="sub_bt">
		<a href="#none" class="btn bc_e5efff">서브버튼</a>
	</div>
	<div class="btn_wrap" btn-type="sub_bt">
		<a href="#none" class="btn bc_f4f6fb">서브버튼</a>
	</div>
	<div class="btn_wrap" btn-type="sub_bt">
		<a href="#none" class="btn bc_fff_02">서브버튼</a>
	</div>
	<div class="btn_wrap" btn-type="sub_bt">
		<a href="#none" class="btn jkd_b_w">서브버튼</a>
	</div>
	<div class="btn_wrap" btn-type="sub_bt">
		<a href="#none" class="btn bc_fff">서브버튼</a>
	</div>
	<div class="btn_wrap" btn-type="sub_bt">
		<a href="#none" class="btn bc_fff_03">서브버튼</a>
	</div>
	<div class="btn_wrap" btn-type="sub_bt">
		<a href="#none" class="btn jkd_b_w">서브버튼</a>
		<a href="#none" class="btn jkd_b">서브버튼</a>
	</div>
	<div class="btn_wrap" btn-type="sub_bt">
		<a href="#none" class="btn bc_fff_02">
			<span class="txt">연락처</span>
			<i class="icon plus"></i>
		</a>
	</div>
	<div class="btn_wrap" btn-type="sub_bt">
		<a href="#none" class="btn bc_fff_02">
			<span class="txt">더보기</span>
			<i class="icon arrow_down"></i>
		</a>
	</div>

	<p class="tit">👉 서브 버튼 : 비활성 class="inactv" 추가</p>
	<div class="btn_wrap inactv" btn-type="sub_bt">
		<a href="#none" class="btn jkd_b">서브버튼</a>
	</div>
	<div class="btn_wrap inactv" btn-type="sub_bt">
		<a href="#none" class="btn bc_f4f6fb">서브버튼</a>
	</div>
	<div class="btn_wrap inactv" btn-type="sub_bt">
		<a href="#none" class="btn bc_e5efff">서브버튼</a>
	</div>
	<div class="btn_wrap inactv" btn-type="sub_bt">
		<a href="#none" class="btn bc_fff">서브버튼</a>
	</div>
	<div class="btn_wrap inactv" btn-type="sub_bt">
		<a href="#none" class="btn bc_e5efff">서브버튼</a>
		<a href="#none" class="btn bc_e5efff">서브버튼</a>
	</div>

	<p class="tit">👉 서브 버튼 : 높이 별</p>
	<div class="btn_wrap" btn-type="sub_bt">
		<a href="#none" class="btn bc_bk h_52">서브버튼 52</a>
	</div>
	<div class="btn_wrap" btn-type="sub_bt">
		<a href="#none" class="btn bc_bk h_36">서브버튼 36</a>
	</div>
	<div class="btn_wrap" btn-type="sub_bt">
		<a href="#none" class="btn bc_bk h_32">서브버튼 32</a>
	</div>
	<div class="btn_wrap" btn-type="sub_bt">
		<a href="#none" class="btn bc_bk h_28">서브버튼 28</a>
	</div>
	<div class="btn_wrap" btn-type="sub_bt">
		<a href="#none" class="btn bc_bk h_24">서브버튼 24</a>
	</div>

	<hr class="div_gap">
	<p class="tit">👉 selectbox 버튼:팝업 띄우는용도</p>
	<!-- 팝업오픈버튼 -->
	<div class="btn_selct"><!-- 선택:class="on"추가 -->
		<p class="txt">쿠폰을 선택하세요.</p>
		<div class="price">
			<p>
				<strong>30,000</strong>원
			</p>
		</div>
		<a href="#none" class="btm_open"><span class="blind">대체텍스트:수정필수</span></a>
	</div>
	<!--// 팝업오픈버튼 -->

	<!-- 팝업오픈버튼:비활성 -->
	<div class="btn_selct inactv">
		<p class="txt">쿠폰을 선택하세요.</p>
		<div class="price">
			<p>
				<strong>30,000</strong>원
			</p>
		</div>
		<a href="#none" class="btm_open"><span class="blind">대체텍스트:수정필수</span></a>
	</div>
	<!--// 팝업오픈버튼:비활성 -->

	<div class="gap"></div>

	<!-- 팝업오픈버튼:선택 -->
	<div class="btn_selct on">
		<p class="txt">주 1회</p>
		<a href="#none" class="btm_open"><span class="blind">대체텍스트:수정필수</span></a>
	</div>
	<!--// 팝업오픈버튼:선택 -->

	<hr class="div_gap">
	<p class="tit">👉 블루버튼 세트</p>
	<div class="blue_btn_set">
		<a href="#none" class="on">1개월</a><!-- 활성화 시 class="on" 추가 -->
		<a href="#none">3개월</a>
		<a href="#none">6개월</a>
		<a href="#none">기간 설정</a>
	</div>

	<hr class="div_gap">

	<p class="tit">👉 툴팁 : 기본</p>

	<div class="tooltip_wrap">
		<div class="cotn_wrap">
			<p class="tit_16">적립예정</p>
		</div>

		<div class="btn_tool_wrap">
			<a href="#none" class="btn_tooltip btn_q_mark">
				<i class="icon_q_mark"></i>
			</a>

			<div class="tooltip_box">
				<div class="tooltip">
					<p>적립예정 적립금에 대한 안내입니다. </p>
				</div>
			</div>
		</div>
	</div>

	<p class="tit">👉 툴팁 : 상</p>
	<div class="tooltip_wrap tip_top">
		<div class="cotn_wrap">
			<div class="form_rdo">
				<label for="tem1" class="group">
					<input type="radio" id="tem1" name="temp2">
					<i class="icon"></i>
					<span class="txt">적립예정</span>
					<span class="blind">선택</span>
				</label>
			</div>
		</div>

		<div class="btn_tool_wrap">
			<a href="#none" class="btn_tooltip btn_q_mark">
				<i class="icon_q_mark"></i>
			</a>

			<div class="tooltip_box">
				<div class="tooltip">
					<p>적립예정 적립금에 대한 안내입니다. </p>
				</div>
			</div>
		</div>
	</div>

	<p class="tit">👉 툴팁 : 우</p>
	<div class="tooltip_wrap tip_right" style="display: flex;align-items: center;justify-content: flex-end;">
		<div class="btn_tool_wrap">
			<a href="#none" class="btn_tooltip btn_q_mark">
				<i class="icon_q_mark"></i>
			</a>

			<div class="tooltip_box">
				<div class="tooltip">
					<p>적립예정 적립금에 대한 안내입니다. </p>
				</div>
			</div>
		</div>
		<div class="cotn_wrap">
			<p class="tit_16">적립예정 원터치결제 사용</p>
		</div>
	</div>

	<div class="g_ex">
		<p>툴팁(상) class="tip_top" 추가 </p>
		<p>툴팁(우) class="tip_right" 추가 </p>
		<p>타이틀 or 컨텐츠 : class="cotn_wrap"에 작성</p>
	</div>

	<hr class="div_gap">

	<p class="tit">👉 텍스트링크</p>

	<a href="#none" class="txt_link">텍스트링크<br></a>
	<a href="#none" class="txt_link more">더보기</a>

	<p class="tit">👉 Switch 버튼</p>
	<div class="btn_switch">
		<label class="form_chk">
			<input type="checkbox" checked>
			<i class="icon"></i>
			<i class="bg"></i>
		</label>
	</div>

	<hr class="div_gap">
	<p class="tit">👉 스와이프 버튼</p>
	<!-- 스와이프버튼 -->
	<div class="btn_slide_wrap">
		<div class="swiper">
			<div class="swiper-wrapper">
				<!-- 1세트 -->
				<div class="bt_slide swiper-slide">
					<div class="btn_wrap" btn-type="sub_bt">
						<a href="#none" class="btn bc_fff h_36">락토핏</a>
						<button type="button" class="del"><span class="blind">삭제</span></button>
					</div>
				</div>
				<!--// 1세트 -->
				<div class="bt_slide swiper-slide">
					<div class="btn_wrap" btn-type="sub_bt">
						<a href="#none" class="btn bc_fff h_36">유산균</a>
						<button type="button" class="del"><span class="blind">삭제</span></button>
					</div>
				</div>
				<div class="bt_slide swiper-slide">
					<div class="btn_wrap" btn-type="sub_bt">
						<a href="#none" class="btn bc_fff h_36">키즈베베</a>
						<button type="button" class="del"><span class="blind">삭제</span></button>
					</div>
				</div>
				<div class="bt_slide swiper-slide">
					<div class="btn_wrap" btn-type="sub_bt">
						<a href="#none" class="btn bc_fff h_36">루테인</a>
						<button type="button" class="del"><span class="blind">삭제</span></button>
					</div>
				</div>
				<div class="bt_slide swiper-slide">
					<div class="btn_wrap" btn-type="sub_bt">
						<a href="#none" class="btn bc_fff h_36">홍삼</a>
						<button type="button" class="del"><span class="blind">삭제</span></button>
					</div>
				</div>
				<div class="bt_slide swiper-slide">
					<div class="btn_wrap" btn-type="sub_bt">
						<a href="#none" class="btn bc_fff h_36">오메가3</a>
						<button type="button" class="del"><span class="blind">삭제</span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--// 스와이프버튼 -->

	<hr class="div_gap">
	<p class="tit">👉 뒤로가기, Top버튼</p>
	<div class="bottom_btn">
		<a href="#none" class="btn back"><span class="blind">뒤로가기</span></a>
		<a href="#none" class="btn chat_bot"><span class="blind">챗봇</span></a>
		<a href="#none" class="btn go_top"><span class="blind">페이지 맨 위로 이동</span></a>
	</div>
</div>
<!--// #WRAP -->
</body>
</html>