<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<link rel="stylesheet" href="../../assets/css/jquery-ui.min.css">
	<link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="../../assets/css/ui.public.css">
	<link rel="stylesheet" href="../assets/css/ui.common.css">
	<script type="text/javascript" src="../../assets/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="../../assets/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../assets/js/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="../assets/js/ui.common.js"></script>
	<link rel="stylesheet" href="guide.css"><!-- 가이드전용CSS -->
	<title>폰트스타일</title>
</head>

<body>
<!-- #WRAP -->
<div id="wrap">
	<p class="tit_32">타이틀 클래스 tit_32</p>
	<p class="tit_32">font size class tit_32</p>
	<p class="tit_26">타이틀 클래스 tit_26</p>
	<p class="tit_26">font size class tit_26</p>
	<p class="tit_22">타이틀 클래스 tit_22</p>
	<p class="tit_22">font size class tit_22</p>
	<p class="tit_20">타이틀 클래스 tit_20</p>
	<p class="tit_20">font size class tit_20</p>
	<p class="tit_18">타이틀 클래스 tit_18</p>
	<p class="tit_18">font size class tit_18</p>
	<p class="tit_16">타이틀 클래스 tit_16</p>
	<p class="tit_16">font size class tit_16</p>
	<p class="tit_14">타이틀 클래스 tit_14</p>
	<p class="tit_14">font size class tit_14</p>
	<p class="tit_12">타이틀 클래스 tit_12</p>
	<p class="tit_12">font size class tit_12</p>
	<p>기본 폰트 사이즈</p>
	<p>Default font size</p>
	<hr class="div_gap">
	<p class="tit">👉 서브 타이틀 영역(font-size:16px)</p>
	<!-- 기본 -->
	<div class="tit_sec_wrap">
		<p class="tit_field necd">
			<span>문의유형</span>
		</p>
	</div>
	<!--// 기본 -->
	<br>
	<!-- flex -->
	<div class="tit_sec_wrap flex_betw"><!-- class="flex_betw" 추가시 flex between -->
		<p class="tit_field necd">
			<span>문의유형</span>
		</p>
		<p>
			<a href="#none" class="txt_link">텍스트링크<br></a>
		</p>
	</div>
	<!--// flex -->
	<hr class="div_gap">
	<p class="tit">👉 유의사항</p>
	<div class="noti_copy gray" style="margin-bottom:20px;">
		<p>유의사항</p>
		<p>유의사항</p>
		<p>유의사항</p>
	</div>
	<div class="noti_copy gray_02">
		<p>유의사항</p>
		<p>유의사항</p>
		<p>유의사항</p>
	</div>


	<hr class="div_gap">
	<p class="tit">👉 금액 / 포인트</p>
	<div class="sale_info">
		<div class="price">
			<p class="upto">5%</p>
			<p>45,000원</p>
		</div>
		<del>50,000</del>
	</div>
	<div class="sale_info">
		<div class="price hot">
			<p>35,000원</p>
		</div>
		<del>50,000</del>
	</div>
	<div class="point">
		<p>1,500P</p>
	</div>
</div>
<!--// #WRAP -->
</body>
</html>
