<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<link rel="stylesheet" href="../../assets/css/jquery-ui.min.css">
	<link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="../../assets/css/ui.public.css">
	<link rel="stylesheet" href="../assets/css/ui.common.css">
	<script type="text/javascript" src="../../assets/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="../../assets/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../assets/js/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="../assets/js/ui.common.js"></script>
	<title>전체팝업템플릿</title>
</head>

<body class="up"><!-- 알럿/바닥 팝업open : class="dim" 추가, 전체팝업open : class="up" 추가 -->
<!-- 전체팝업템플릿:해당영역주석메뉴에맞게수정 -->
<section class="full_popup on" style="display:block;"><!-- ※ 팝업고유class 필수 추가, 팝업open:class="on"추가, style="display:block;" -->
	<!-- 헤더 -->
	<header class="head">
		<a href="#none" class="closed">
			<span class="blind">팝업 닫기</span>
		</a>
	</header>
	<!--// 헤더 -->

	<!-- 컨텐츠 -->
	<div class="contents">
		<p>전체팝업 컨텐츠 영역</p>
	</div>
	<!--// 컨텐츠 -->
</section>
<!--// 전체팝업템플릿:해당영역주석메뉴에맞게수정 -->
</body>
</html>