<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<link rel="stylesheet" href="../../assets/css/jquery-ui.min.css">
	<link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="../../assets/css/ui.public.css">
	<link rel="stylesheet" href="../assets/css/ui.common.css">
	<script type="text/javascript" src="../../assets/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="../../assets/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../assets/js/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="../assets/js/ui.common.js"></script>
	<link rel="stylesheet" href="guide.css"><!-- 가이드전용CSS -->
	<title>종근당건강몰 가이드</title>
</head>
<body>
<style>

</style>
<div class="wrap">
	<main class="guide-wrap">
		<!-- layout -->
		<h1 class="tit_32">종근당건강몰 퍼블리싱 가이드</h1>
		<section class="guide-sec">
			<!-- 폰트 -->
			<article class="guide-box">
				<h1 class="tit_16">📢 폰트 스타일 : </h1>
				<p>
					<a href="font.html" target="_blank">font.html</a>
				</p>
				<div class="iframe-box"><iframe src="font.html" frameborder="0"></iframe></div>
			</article>
			<!--// 폰트 -->

			<!-- 버튼 -->
			<article class="guide-box">
				<h1 class="tit_16">📢 버튼 스타일 : </h1>
				<p>
					<a href="button.html" target="_blank">button.html</a>
				</p>
				<div class="iframe-box"><iframe src="button.html" frameborder="0"></iframe></div>
			</article>
			<!--// 버튼 -->

			<!-- 폼요소 -->
			<article class="guide-box">
				<h1 class="tit_16">📢 폼요소 : </h1>
				<p>
					<a href="form.html" target="_blank">form.html</a>
				</p>
				<div class="iframe-box"><iframe src="form.html" frameborder="0"></iframe></div>
			</article>
			<!--// 폼요소 -->

			<!-- 팝업 -->
			<article class="guide-box">
				<h1 class="tit_16">📢 팝업 : </h1>
				<p>
					<a href="popup.html" target="_blank">popup.html</a>
				</p>
				<div class="iframe-box"><iframe src="popup.html" frameborder="0"></iframe></div>
			</article>
			<!--// 팝업 -->

			<!-- 탭메뉴 -->
			<article class="guide-box">
				<h1 class="tit_16">📢 탭메뉴 : </h1>
				<p>
					<a href="tab.html" target="_blank">tab.html</a>
				</p>
				<div class="iframe-box"><iframe src="tab.html" frameborder="0"></iframe></div>
			</article>
			<!--// 탭메뉴 -->

			<!-- 헤더 -->
			<article class="guide-box">
				<h1 class="tit_16">📢 헤더 : </h1>
				<p>
					<a href="header.html" target="_blank">header.html</a>
				</p>
				<div class="iframe-box"><iframe src="header.html" frameborder="0"></iframe></div>
			</article>
			<!--// 헤더 -->

			<!-- 상품UI -->
			<article class="guide-box">
				<h1 class="tit_16">📢 상품UI : </h1>
				<p>
					<a href="product.html" target="_blank">product.html</a>
				</p>
				<div class="iframe-box"><iframe src="product.html" frameborder="0"></iframe></div>
			</article>
			<!--// 상품UI -->

			<!-- 아코디언 -->
			<article class="guide-box">
				<h1 class="tit_16">📢 아코디언 : </h1>
				<p>
					<a href="accordion.html" target="_blank">accordion.html</a>
				</p>
				<div class="iframe-box"><iframe src="accordion.html" frameborder="0"></iframe></div>
			</article>
			<!--// 아코디언 -->

			<!-- 게시판목록 -->
			<article class="guide-box">
				<h1 class="tit_16">📢 게시판목록 : </h1>
				<p>
					<a href="list.html" target="_blank">list.html</a>
				</p>
				<div class="iframe-box"><iframe src="list.html" frameborder="0"></iframe></div>
			</article>
			<!--// 게시판목록 -->

			<!-- 상세 -->
			<article class="guide-box">
				<h1 class="tit_16">📢 상세 : </h1>
				<p>
					<a href="view.html" target="_blank">view.html</a>
				</p>
				<div class="iframe-box"><iframe src="view.html" frameborder="0"></iframe></div>
			</article>
			<!--// 상세 -->

			<!-- 기타컴포넌트 -->
			<article class="guide-box">
				<h1 class="tit_16">📢 기타컴포넌트UI : </h1>
				<p>
					<a href="sub_guide.html" target="_blank">sub_guide.html</a>
				</p>
				<div class="iframe-box"><iframe src="sub_guide.html" frameborder="0"></iframe></div>
			</article>
			<!--// 기타컴포넌트 -->

			<!-- 쿠폰레이아웃 -->
			<article class="guide-box">
				<h1 class="tit_16">📢 쿠폰레이아웃 : </h1>
				<p>
					<a href="coupon.html" target="_blank">coupon.html</a>
				</p>
				<div class="iframe-box"><iframe src="coupon.html" frameborder="0"></iframe></div>
			</article>
			<!--// 쿠폰레이아웃 -->

			<!-- 서브페이지템플릿 -->
			<article class="guide-box">
				<h1 class="tit_16">📢 서브페이지템플릿 : 헤더+푸터+뒤로가기+탭바+퀵메뉴</h1>
				<p>
					<a href="sub.html" target="_blank">sub.html</a>
				</p>
				<div class="iframe-box"><iframe src="sub.html" frameborder="0"></iframe></div>
			</article>
			<!--// 서브페이지템플릿 -->
		</section>
		<!--// layout -->
	</main>
</div>
</body>
</html>
