<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<link rel="stylesheet" href="../../assets/css/jquery-ui.min.css">
	<link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="../../assets/css/ui.public.css">
	<link rel="stylesheet" href="../assets/css/ui.common.css">
	<script type="text/javascript" src="../../assets/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="../../assets/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../assets/js/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="../assets/js/ui.common.js"></script>
	<link rel="stylesheet" href="guide.css"><!-- 가이드전용CSS -->
	<title>게시판목록</title>
</head>

<body>
<!-- #WRAP -->
<div id="wrap" style="padding:0;">
	<p class="tit">👉 게시판목록</p>

	<!-- 목록개수 -->
	<div class="list_num">
		<p>총 <span>230</span>건</p>
		<div class="sort_li">
			<select>
				<option>베스트순</option>
				<option>최신 등록순</option>
				<option>평점 높은순</option>
			</select>
			<i class="i_select"></i>
		</div>
	</div>
	<!--// 목록개수 -->

	<!-- 게시판목록 -->
	<section class="board_list">
		<ul>
			<!-- 1세트 -->
			<li class="list_fix"><!-- 상단고정 공지사항 class="list_fix"추가 -->
				<div class="post_info">
					<div class="txt_post_area">
						<p class="board_sort">당첨자발표</p>
						<h3 class="board_tit">회원약관 변경 고지의 건 회원약관 변경 고지의 건건건건건건건 회원약관 변경 고지의 건 회원약관 변경 고지의 건건건건건건건</h3>
					</div>
					<div class="date_info">
						<p class="date">2022.03.20</p>
					</div>
					<i class="arrow_right_bk"></i>
				</div>
				<a href="#none" class="go_view">
					<span class="blind">게시판상세이동</span>
				</a>
			</li>
			<!-- // 1세트 -->
			<li class="list_fix"><!-- 상단고정 공지사항 class="list_fix"추가 -->
				<div class="post_info">
					<div class="txt_post_area">
						<p class="board_sort">당첨자발표</p>
						<h3 class="board_tit">회원약관 변경 고지의 건 회원약관 변경 고지의 건건건건건건건 회원약관 변경 고지의 건 회원약관 변경 고지의 건건건건건건건</h3>
					</div>
					<div class="date_info">
						<p class="date">2022.03.20</p>
					</div>
					<i class="arrow_right_bk"></i>
				</div>
				<a href="#none" class="go_view">
					<span class="blind">게시판상세이동</span>
				</a>
			</li>
			<li>
				<div class="post_info">
					<div class="txt_post_area">
						<p class="board_sort">당첨자발표</p>
						<h3 class="board_tit">회원약관 변경 고지의 건 회원약관 변경 고지의 건건건건건건건 회원약관 변경 고지의 건 회원약관 변경 고지의 건건건건건건건</h3>
					</div>
					<div class="date_info">
						<p class="date">2022.03.20</p>
					</div>
					<i class="arrow_right_bk"></i>
				</div>
				<a href="#none" class="go_view">
					<span class="blind">게시판상세이동</span>
				</a>
			</li>
			<li>
				<div class="post_info">
					<div class="txt_post_area">
						<p class="board_sort">당첨자발표</p>
						<h3 class="board_tit">회원약관 변경 고지의 건 회원약관 변경 고지의 건건건건건건건 회원약관 변경 고지의 건 회원약관 변경 고지의 건건건건건건건</h3>
					</div>
					<div class="date_info">
						<p class="date">2022.03.20</p>
					</div>
					<i class="arrow_right_bk"></i>
				</div>
				<a href="#none" class="go_view">
					<span class="blind">게시판상세이동</span>
				</a>
			</li>
		</ul>

		<!-- 버튼 -->
		<div class="btn_wrap" btn-type="sub_bt">
			<a href="#none" class="btn bc_fff_02">
				<span class="txt">더보기</span>
				<i class="icon arrow_down"></i>
			</a>
		</div>
		<!--// 버튼 -->
	</section>
	<!--// 게시판목록 -->

	<hr class="div_gap">

	<p class="tit">👉 목록 개수, 검색결과 개수</p>
	<div class="g_ex">
		<p>마크업 동일함.</p>
		<p>목록개수 숫자 태그 : span</p>
		<p>검색결과 검색어 태그 : strong</p>
	</div>
	<!-- 목록개수 -->
	<div class="list_num">
		<p>총 <span>230</span>건</p>
		<div class="sort_li">
			<select>
				<option>베스트순</option>
				<option>최신 등록순</option>
				<option>평점 높은순</option>
			</select>
			<i class="i_select"></i>
		</div>
	</div>
	<!--// 목록개수 -->

	<!-- 검색결과개수 -->
	<div class="list_num">
		<p>
			<strong>배송</strong>검색결과 (<em>12</em>)
		</p>
		<div class="sort_li">
			<select>
				<option>베스트순</option>
				<option>최신 등록순</option>
				<option>평점 높은순</option>
			</select>
			<i class="i_select"></i>
		</div>
	</div>
	<!--// 검색결과개수 -->

	<hr class="div_gap">
	<p class="tit">👉 리뷰목록 타입 1</p>
	<div style="background-color:#f8f8f8;">
		<!-- 리뷰목록 -->
		<div class="post_li_wrap">
			<!-- 1세트 -->
			<div class="rv_set">
				<!-- 리뷰상품 -->
				<div class="ord_list_box">
					<div class="prd_group_h small">
						<div class="cotn">
							<div class="prd_artic">
								<!-- 이미지 -->
								<div class="img_area">
									<figure class="img">
										<img src="../assets/images/temp/prd_01.jpg" alt="">
									</figure>
								</div>
								<!--// 이미지 -->

								<!-- 상품/작성정보 -->
								<div class="prd_verti_info">
									<!-- 상품명 -->
									<div class="txt">
										<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
									</div>
									<!--// 상품명 -->

									<!-- 작성정보 -->
									<div class="write_info">
										<p class="date">작성일 : 2022.03.05</p>
										<p class="grade">3.0</p>
									</div>
									<!--// 작성정보 -->
								</div>
								<!--// 상품/작성정보 -->
								<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
							</div>
						</div>
					</div>
				</div>
				<!--// 리뷰상품 -->

				<!-- 작성한리뷰 -->
				<div class="rv_info">
					<!-- 내용 -->
					<div class="rv_txt">
						<p>처음 구입해봤는데 인생템이네요! 재구매의사 있습니다. 좋아서 매일매일 사용하고 있습니다. 좋은 상품 판매해주셔서 감사해요~~~처음 구입해봤는데 인생템이네요! 재구매의사 있습니다. 좋아서 매일매일 사용하고 있습니다. 좋은 상품 판매해주셔서 감사해요</p>
					</div>
					<!--// 내용 -->

					<!-- 항목별평가 -->
					<div class="dtl_eval">
						<p class="set">
							<span>포장</span>
							<strong>꼼꼼해요</strong>
						</p>
						<p class="set">
							<span>배송</span>
							<strong>빨라요</strong>
						</p>
						<p class="set">
							<span>유통기한</span>
							<strong>넉넉해요</strong>
						</p>
					</div>
					<!--// 항목별평가 -->
				</div>
				<!--// 작성한리뷰 -->

				<!-- 사진목록 -->
				<div class="rv_photo swiper">
					<div class="swiper-wrapper">
						<!-- 1세트 -->
						<div class="img_wrap swiper-slide">
							<figure class="img">
								<a href="#none">
									<img src="../assets/images/temp/prd_02.jpg" alt="">
								</a>
							</figure>
						</div>
						<!--// 1세트 -->
						<div class="img_wrap swiper-slide">
							<figure class="img">
								<a href="#none">
									<img src="../assets/images/temp/prd_01.jpg" alt="">
								</a>
							</figure>
						</div>
						<div class="img_wrap swiper-slide">
							<figure class="img">
								<a href="#none">
									<img src="../assets/images/temp/prd_03.jpg" alt="">
								</a>
							</figure>
						</div>
						<div class="img_wrap swiper-slide">
							<figure class="img">
								<a href="#none">
									<img src="../assets/images/temp/prd_05.jpg" alt="">
								</a>
							</figure>
						</div>
						<div class="img_wrap swiper-slide">
							<figure class="img">
								<a href="#none">
									<img src="../assets/images/temp/temp_07.jpg" alt="">
								</a>
							</figure>
						</div>
					</div>
				</div>
				<!--// 사진목록 -->

				<!-- 리뷰버튼 -->
				<div class="btn_wrap" btn-type="sub_bt">
					<a href="#none" class="btn bc_fff">삭제</a>
					<a href="#none" class="btn bc_fff">수정</a>
				</div>
				<!--// 리뷰버튼 -->
			</div>
			<!--// 1세트 -->
			<div class="rv_set">
				<div class="ord_list_box">
					<div class="prd_group_h small">
						<div class="cotn">
							<div class="prd_artic">
								<div class="img_area">
									<figure class="img">
										<img src="../assets/images/temp/prd_01.jpg" alt="">
									</figure>
								</div>
								<div class="prd_verti_info">
									<div class="txt">
										<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
									</div>
									<div class="write_info">
										<p class="date">작성일 : 2022.03.05</p>
										<p class="grade">3.0</p>
									</div>
								</div>
								<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="rv_info">
					<div class="rv_txt">
						<p>처음 구입해봤는데 인생템이네요! 재구매의사 있습니다. 좋아서 매일매일 사용하고 있습니다. 좋은 상품 판매해주셔서 감사해요~~~처음 구입해봤는데 인생템이네요! 재구매의사 있습니다. 좋아서 매일매일 사용하고 있습니다. 좋은 상품 판매해주셔서 감사해요</p>
					</div>
					<div class="dtl_eval">
						<p class="set">
							<span>포장</span>
							<strong>그냥그래요</strong>
						</p>
						<p class="set">
							<span>배송</span>
							<strong>보통이에요</strong>
						</p>
						<p class="set">
							<span>유통기한</span>
							<strong>보통이에요</strong>
						</p>
					</div>
				</div>
				<div class="btn_wrap" btn-type="sub_bt">
					<a href="#none" class="btn bc_fff">삭제</a>
					<a href="#none" class="btn bc_fff">포토리뷰 작성</a>
				</div>
			</div>
		</div>
		<!--// 리뷰목록 -->
	</div>

	<hr class="div_gap">
	<p class="tit">👉 리뷰목록 타입 2</p>
	<div style="">
		<!-- 목록개수 -->
		<div class="list_num">
			<p>총 <span>230</span>건</p>
			<div class="sort_li">
				<select>
					<option>베스트순</option>
					<option>최신 등록순</option>
					<option>평점 높은순</option>
				</select>
				<i class="i_select"></i>
			</div>
		</div>
		<!--// 목록개수 -->

		<!-- 리뷰목록 -->
		<div class="post_li_wrap bg_li">
			<!-- 1세트 -->
			<div class="rv_set">
				<!-- 작성정보 -->
				<div class="write_info">
					<p class="user">wylie****</p>
					<p class="date">2022.05.13</p>
					<p class="grade">3.0</p>
				</div>
				<!--// 작성정보 -->

				<!-- 작성한리뷰 -->
				<div class="rv_info">
					<!-- 내용 -->
					<div class="rv_txt">
						<p>처음 구입해봤는데 인생템이네요! 재구매의사 있습니다. 좋아서 매일매일 사용하고 있습니다. 좋은 상품 판매해주셔서 감사해요~~~처음 구입해봤는데 인생템이네요! 재구매의사 있습니다. 좋아서 매일매일 사용하고 있습니다. 좋은 상품 판매해주셔서 감사해요</p>
					</div>
					<!--// 내용 -->

					<!-- 항목별평가 -->
					<div class="dtl_eval">
						<p class="set">
							<span>포장</span>
							<strong>꼼꼼해요</strong>
						</p>
						<p class="set">
							<span>배송</span>
							<strong>빨라요</strong>
						</p>
						<p class="set">
							<span>유통기한</span>
							<strong>넉넉해요</strong>
						</p>
					</div>
					<!--// 항목별평가 -->
				</div>
				<!--// 작성한리뷰 -->

				<!-- 사진목록 -->
				<div class="rv_photo swiper">
					<div class="swiper-wrapper">
						<!-- 1세트 -->
						<div class="img_wrap swiper-slide">
							<figure class="img">
								<a href="#none">
									<img src="../assets/images/temp/prd_02.jpg" alt="">
								</a>
							</figure>
						</div>
						<!--// 1세트 -->
						<div class="img_wrap swiper-slide">
							<figure class="img">
								<a href="#none">
									<img src="../assets/images/temp/prd_01.jpg" alt="">
								</a>
							</figure>
						</div>
						<div class="img_wrap swiper-slide">
							<figure class="img">
								<a href="#none">
									<img src="../assets/images/temp/prd_03.jpg" alt="">
								</a>
							</figure>
						</div>
						<div class="img_wrap swiper-slide">
							<figure class="img">
								<a href="#none">
									<img src="../assets/images/temp/prd_05.jpg" alt="">
								</a>
							</figure>
						</div>
						<div class="img_wrap swiper-slide">
							<figure class="img">
								<a href="#none">
									<img src="../assets/images/temp/temp_07.jpg" alt="">
								</a>
							</figure>
						</div>
					</div>
				</div>
				<!--// 사진목록 -->
			</div>
			<!--// 1세트 -->
			<div class="rv_set">
				<div class="write_info">
					<p class="user">hong****</p>
					<p class="date">2022.03.05</p>
					<p class="grade">3.0</p>
				</div>
				<div class="rv_info">
					<div class="rv_txt">
						<p>모든 국민은 인간으로서의 존엄과 가치를 가지며, 행복을 추구할 권리를 가진다. 국가는 개인이 가지는 불가침의 기본적 인권을 확인하고 이를 보장할 의무를 진다.</p>
					</div>
					<div class="dtl_eval">
						<p class="set">
							<span>포장</span>
							<strong>그냥그래요</strong>
						</p>
						<p class="set">
							<span>배송</span>
							<strong>보통이에요</strong>
						</p>
						<p class="set">
							<span>유통기한</span>
							<strong>보통이에요</strong>
						</p>
					</div>
				</div>
			</div>
		</div>
		<!--// 리뷰목록 -->
	</div>

	<hr class="div_gap">
	<p class="tit">👉 문의목록</p>
	<!-- 문의목록 -->
	<div class="inqu_list_wrap">
		<!-- 목록개수 -->
		<div class="list_num">
			<p>총 <span>230</span>건</p>
		</div>
		<!--// 목록개수 -->

		<!-- 목록 -->
		<div class="inqu_list">
			<ul>
				<!-- 1세트 -->
				<li>
					<div class="accodn_wrap">
						<!-- 고정:질문영역 -->
						<div class="view_fix">
							<p class="flag_qna">미답변</p><!-- 답변완료 class="done"추가 -->
							<!-- 분류 -->
							<div class="tit_inqu">
								<p class="sort">
									<span>1분류</span>
									<i class="icon_stick"></i>
									<span>2분류</span>
								</p>
							</div>
							<!--// 분류 -->

							<!-- 질문내용 -->
							<div class="txt_inqu">
								<p>교환 또는 반품 소요 기간은 얼마나 걸리나요 소요 기간은 얼마나 걸리나요 교환 또는 반품 소요 기간은 얼마나 걸리나요 소요 기간은 얼마나 걸리나요</p>
							</div>
							<!--// 질문내용 -->

							<!-- 문의상품 -->
							<div class="prd_info_area open_cotn">
								<div class="box_gy bg_f9fafc prd_code">
									<ul>
										<li>
											<p class="txt_code">상품코드 : 1234564878</p>
											<p>락토핏 유산균 생유산균 골드 50포 2통</p>
											<a href="#none" class="go_view">
												<span class="blind">상품상세이동</span>
											</a>
										</li>
										<li>
											<p class="txt_code">상품코드 : 1234564878</p>
											<p>락토핏 유산균 생유산균 골드 50포 2통</p>
											<a href="#none" class="go_view">
												<span class="blind">상품상세이동</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="add_img_area">
									<div class="img_thum">
										<img src="../assets/images/temp/prd_01.jpg" alt="">
									</div>
									<div class="img_thum">
										<img src="../assets/images/temp/prd_01.jpg" alt="">
									</div>
									<div class="img_thum">
										<img src="../assets/images/temp/prd_01.jpg" alt="">
									</div>
								</div>
							</div>
							<!--// 문의상품 -->

							<!-- 작성정보/수정 -->
							<div class="modify_area">
								<div class="id_date">
									<span>ck00****</span>
									<span>2022.03.10</span>
								</div>
								<div class="btn_modi_wrap">
									<a href="#none" class="txt_link">수정</a>
									<i class="icon_stick"></i>
									<a href="#none" class="txt_link">삭제</a>
								</div>
							</div>
							<!--// 작성정보/수정 -->
							<i class="ctrl_trg"><span class="blind">상세 컨텐츠영역 열기</span></i>
						</div>
						<!--// 고정:질문영역 -->

						<!-- 열림:답변영역 -->
						<div class="open_cotn">
							<div class="ask_area">
								<p class="tit_ask">종근당 고객센터 담당자</p>
								<p class="txt_ask">영업일 기준 오후 2시 이전 결제 완료된 주문 건에 한하여 당일 출고를 진행하고 있으나, 출고 후 배송 완료 까지는 평균 1~2일 정도 소요되고 있습니다.(기상이변, 시즌특수, 택배사 대리점의 상황에 따라 추가 시일이 소요될 수 있는 점 양해 부탁드립니다.)</p>
							</div>
						</div>
						<!--// 열림:답변영역 -->
					</div>
				</li>
				<!--// 1세트 -->
				<li>
					<div class="accodn_wrap">
						<div class="view_fix">
							<p class="flag_qna done">답변완료</p>
							<div class="tit_inqu">
								<p class="sort">
									<span>1분류</span>
									<i class="icon_stick"></i>
									<span>2분류</span>
								</p>
							</div>
							<div class="txt_inqu">
								<p>교환 또는 반품 소요 기간은 얼마나 걸리나요 소요 기간은 얼마나 걸리나요 교환 또는 반품 소요 기간은 얼마나 걸리나요 소요 기간은 얼마나 걸리나요</p>
							</div>
							<div class="modify_area">
								<div class="id_date">
									<span>ck00****</span>
									<span>2022.03.10</span>
								</div>
								<div class="btn_modi_wrap">
									<a href="#none" class="txt_link">수정</a>
									<i class="icon_stick"></i>
									<a href="#none" class="txt_link">삭제</a>
								</div>
							</div>
							<i class="ctrl_trg"><span class="blind">상세 컨텐츠영역 열기</span></i>
						</div>
						<div class="open_cotn">
							<div class="ask_area">
								<p class="tit_ask">종근당 고객센터 담당자</p>
								<p class="txt_ask">영업일 기준 오후 2시 이전 결제 완료된 주문 건에 한하여 당일 출고를 진행하고 있으나, 출고 후 배송 완료 까지는 평균 1~2일 정도 소요되고 있습니다.(기상이변, 시즌특수, 택배사 대리점의 상황에 따라 추가 시일이 소요될 수 있는 점 양해 부탁드립니다.)</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!--// 목록 -->

		<!-- 결과없음 -->
		<div class="data_none">
			<div class="cotn">
				<i class="icon_none"></i>
				<p class="mn_copy">1:1 문의내역이 없습니다.</p>
			</div>
		</div>
		<!--// 결과없음 -->
	</div>
	<!--// 문의목록 -->
</div>
<!--// #WRAP -->
</body>
</html>
