<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<link rel="stylesheet" href="../../assets/css/jquery-ui.min.css">
	<link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="../../assets/css/ui.public.css">
	<link rel="stylesheet" href="../assets/css/ui.common.css">
	<script type="text/javascript" src="../../assets/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="../../assets/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../assets/js/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="../assets/js/ui.common.js"></script>
	<link rel="stylesheet" href="guide.css"><!-- 가이드전용CSS -->
	<title>상품목록</title>
</head>

<body>
<!-- #WRAP -->
<div id="wrap" style="padding:0;">
	<p class="tit">👉 상품목록:기본</p>

	<!-- 상품목록 -->
	<div class="product_wrap">
		<!-- 1세트 -->
		<div class="prd_group on_dim"><!-- 상태값필요할때 class="on_dim"추가 -->
			<div class="cotn">
				<!-- 이미지 -->
				<div class="img_area">
					<figure class="img">
						<img src="../assets/images/temp/prd_01.jpg" alt="">
					</figure>
					<i class="i_badge new"><span class="blind">신상품</span></i><!-- 상품뱃지:NEW -->
					<i class="i_badge hot"><span class="blind">핫딜상품</span></i><!-- 상품뱃지:핫딜 -->
					<p class="status_txt">품절</p><!-- 상품상태값:텍스트수정 -->
				</div>
				<!--// 이미지 -->

				<!-- 상품명 -->
				<div class="txt">
					<p class="brand">락토핏</p>
					<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
				</div>
				<!--// 상품명 -->

				<!-- 구매평 -->
				<div class="buy_info">
					<p class="grade">5.0</p>
					<p class="quaty">
						<span>5,000</span>개 리뷰
					</p>
				</div>
				<!--// 구매평 -->

				<!-- 판매가 -->
				<div class="sale_info">
					<div class="price">
						<p class="upto">25%</p>
						<p><strong>37,500</strong>원</p>
					</div>
					<del>50,000원</del>
				</div>
				<!--// 판매가 -->

				<!-- 상품라벨 -->
				<div class="prd_label">
					<p class="icon_label cp">
						<i class="icon cp"></i>
						20%
					</p>
					<p class="add">추가적립</p>
					<p class="gift">사은품</p>
					<p class="deliv">무료배송</p>
				</div>
				<!--// 상품라벨 -->
				<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
			</div>
		</div>
		<!--// 1세트 -->
		<div class="prd_group">
			<div class="cotn">
				<div class="img_area">
					<figure class="img">
						<img src="../assets/images/temp/prd_02.jpg" alt="">
					</figure>
					<i class="i_badge new"><span class="blind">신상품</span></i>
					<p class="status_txt">품절</p>
				</div>
				<div class="txt">
					<p class="brand">락토핏</p>
					<h1 class="name">★한정할인★락토핏 생유산</h1>
				</div>
				<div class="buy_info">
					<p class="grade">5.0</p>
					<p class="quaty">
						<span>5,000</span>개 리뷰
					</p>
				</div>
				<div class="sale_info">
					<div class="price">
						<p class="upto">25%</p>
						<p><strong>37,500</strong>원</p>
					</div>
					<del>50,000원</del>
				</div>
				<div class="prd_label">
					<p class="icon_label cp">
						<i class="icon cp"></i>
						20%
					</p>
					<p class="add">추가적립</p>
					<p class="deliv">무료배송</p>
				</div>
				<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
			</div>
		</div>
	</div>
	<!--// 상품목록 -->

	<hr class="div_gap">

	<p class="tit">👉 상품목록:슬라이드</p>
	<!-- 상품목록_슬라이드 -->
	<div class="product_wrap swiper">
		<div class="swiper-wrapper">
			<!-- 1세트 -->
			<div class="prd_group swiper-slide">
				<div class="cotn">
					<!-- 이미지 -->
					<div class="img_area">
						<figure class="img">
							<img src="../assets/images/temp/prd_01.jpg" alt="">
						</figure>
						<i class="i_badge new"><span class="blind">신상품</span></i><!-- 상품뱃지:NEW -->
						<i class="i_badge hot"><span class="blind">핫딜상품</span></i><!-- 상품뱃지:핫딜 -->
						<p class="status_txt">품절</p><!-- 상품상태값:텍스트수정 -->
					</div>
					<!--// 이미지 -->

					<!-- 상품명 -->
					<div class="txt">
						<p class="brand">락토핏</p>
						<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
					</div>
					<!--// 상품명 -->

					<!-- 구매평 -->
					<div class="buy_info">
						<p class="grade">5.0</p>
						<p class="quaty">
							<span>5,000</span>개 리뷰
						</p>
					</div>
					<!--// 구매평 -->

					<!-- 판매가 -->
					<div class="sale_info">
						<div class="price">
							<p class="upto">25%</p>
							<p><strong>37,500</strong>원</p>
						</div>
						<del>50,000원</del>
					</div>
					<!--// 판매가 -->

					<!-- 상품라벨 -->
					<div class="prd_label">
						<p class="icon_label cp">
							<i class="icon cp"></i>
							20%
						</p>
						<p class="add">추가적립</p>
						<p class="gift">사은품</p>
						<p class="deliv">무료배송</p>
					</div>
					<!--// 상품라벨 -->
					<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
				</div>
			</div>
			<!--// 1세트 -->
			<div class="prd_group swiper-slide">
				<div class="cotn">
					<div class="img_area">
						<figure class="img">
							<img src="../assets/images/temp/prd_02.jpg" alt="">
						</figure>
						<i class="i_badge new"><span class="blind">신상품</span></i>
						<i class="i_badge hot"><span class="blind">핫딜상품</span></i>
						<p class="status_txt">품절</p>
					</div>
					<div class="txt">
						<p class="brand">락토핏</p>
						<h1 class="name">★한정할인★락토핏 생유산</h1>
					</div>
					<div class="buy_info">
						<p class="grade">5.0</p>
						<p class="quaty">
							<span>5,000</span>개 리뷰
						</p>
					</div>
					<div class="sale_info">
						<div class="price">
							<p class="upto">25%</p>
							<p><strong>37,500</strong>원</p>
							<p class="div_price">임직원</p>
						</div>
						<del>50,000원</del>
					</div>
					<div class="prd_label">
						<p class="icon_label cp">
							<i class="icon cp"></i>
							20%
						</p>
						<p class="add">추가적립</p>
						<p class="gift">사은품</p>
						<p class="deliv">무료배송</p>
					</div>
					<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
				</div>
			</div>
			<div class="prd_group swiper-slide">
				<div class="cotn">
					<div class="img_area">
						<figure class="img">
							<img src="../assets/images/temp/prd_02.jpg" alt="">
						</figure>
						<i class="i_badge new"><span class="blind">신상품</span></i>
						<i class="i_badge hot"><span class="blind">핫딜상품</span></i>
						<p class="status_txt">품절</p>
					</div>
					<div class="txt">
						<p class="brand">락토핏</p>
						<h1 class="name">★한정할인★락토핏 생유산</h1>
					</div>
					<div class="buy_info">
						<p class="grade">5.0</p>
						<p class="quaty">
							<span>5,000</span>개 리뷰
						</p>
					</div>
					<div class="sale_info">
						<div class="price">
							<p class="upto">25%</p>
							<p><strong>37,500</strong>원</p>
						</div>
						<del>50,000원</del>
					</div>
					<div class="prd_label">
						<p class="icon_label cp">
							<i class="icon cp"></i>
							20%
						</p>
						<p class="add">추가적립</p>
						<p class="gift">사은품</p>
						<p class="deliv">무료배송</p>
					</div>
					<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
				</div>
			</div>
			<div class="prd_group swiper-slide">
				<div class="cotn">
					<div class="img_area">
						<figure class="img">
							<img src="../assets/images/temp/prd_04.jpg" alt="">
						</figure>
						<i class="i_badge new"><span class="blind">신상품</span></i>
						<i class="i_badge hot"><span class="blind">핫딜상품</span></i>
						<p class="status_txt">품절</p>
					</div>
					<div class="txt">
						<p class="brand">락토핏</p>
						<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
					</div>
					<div class="buy_info">
						<p class="grade">5.0</p>
						<p class="quaty">
							<span>5,000</span>개 리뷰
						</p>
					</div>
					<div class="sale_info">
						<div class="price">
							<p class="upto">25%</p>
							<p><strong>37,500</strong>원</p>
						</div>
						<del>50,000원</del>
					</div>
					<div class="prd_label">
						<p class="icon_label cp">
							<i class="icon cp"></i>
							20%
						</p>
						<p class="add">추가적립</p>
						<p class="gift">사은품</p>
						<p class="deliv">무료배송</p>
					</div>
					<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
				</div>
			</div>
		</div>
	</div>
	<!--// 상품목록_슬라이드 -->

	<hr class="div_gap">

	<p class="tit">👉 상품목록:100%</p>
	<!-- 상품목록:100% -->
	<div class="prd_img_set">
		<!-- 썸네일이미지 -->
		<div class="prd_img_wrap">
			<div class="img_area on"><!-- 활성화 시 class="on" 추가 -->
				<figure class="img">
					<img src="../assets/images/temp/temp_09.jpg" alt="">
				</figure>
				<a href="#none" class="go_view"><span class="blind">상품선택</span></a>
			</div>
			<div class="img_area">
				<figure class="img">
					<img src="../assets/images/temp/prd_01.jpg" alt="">
				</figure>
				<a href="#none" class="go_view"><span class="blind">상품선택</span></a>
			</div>
			<div class="img_area">
				<figure class="img">
					<img src="../assets/images/temp/prd_02.jpg" alt="">
				</figure>
				<a href="#none" class="go_view"><span class="blind">상품선택</span></a>
			</div>
			<div class="img_area">
				<figure class="img">
					<img src="../assets/images/temp/prd_03.jpg" alt="">
				</figure>
				<a href="#none" class="go_view"><span class="blind">상품선택</span></a>
			</div>
		</div>
		<!--// 썸네일이미지 -->

		<!-- 선택상품 -->
		<div class="prd_group">
			<div class="cotn">
				<!-- 이미지 -->
				<div class="img_area">
					<figure class="img">
						<img src="../assets/images/temp/temp_08.jpg" alt="">
					</figure>
					<i class="i_badge new"><span class="blind">신상품</span></i><!-- 상품뱃지:NEW -->
					<i class="i_badge hot"><span class="blind">핫딜상품</span></i><!-- 상품뱃지:핫딜 -->
					<p class="status_txt">품절</p>
				</div>
				<!--// 이미지 -->

				<!-- 상품명 -->
				<div class="txt">
					<p class="brand">락토핏</p>
					<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!! 락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!! 락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
				</div>
				<!--// 상품명 -->

				<!-- 구매평 -->
				<div class="buy_info">
					<p class="grade">5.0</p>
					<p class="quaty">
						<span>5,000</span>개 리뷰
					</p>
				</div>
				<!--// 구매평 -->

				<!-- 판매가 -->
				<div class="sale_info">
					<div class="price">
						<p class="upto">25%</p>
						<p><strong>37,500</strong>원</p>
						<p class="div_price">임직원</p>
						<del>50,000원</del>
					</div>
				</div>
				<!--// 판매가 -->

				<!-- 상품라벨 -->
				<div class="prd_label">
					<p class="icon_label cp">
						<i class="icon cp"></i>
						20%
					</p>
					<p class="add">추가적립</p>
					<p class="gift">사은품</p>
					<p class="deliv">무료배송</p>
				</div>
				<!--// 상품라벨 -->
				<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
			</div>
		</div>
		<!--// 선택상품 -->
	</div>
	<!--// 상품목록:100% -->

	<hr class="div_gap">

	<p class="tit">👉 상품목록:체크박스 + 장바구니</p>
	<!-- 상품목록:체크박스 + 장바구니 -->
	<div class="product_wrap">
		<!-- 1세트 -->
		<div class="prd_group on_dim"><!-- 상태값필요할때 class="on_dim"추가 -->
			<div class="cotn">
				<!-- 이미지 -->
				<div class="img_area">
					<figure class="img">
						<img src="../assets/images/temp/prd_01.jpg" alt="">
					</figure>
					<!-- 체크박스 -->
					<div class="form_chk">
						<label class="group">
							<input type="checkbox">
							<i class="icon"></i>
						</label>
					</div>
					<!--// 체크박스 -->

					<!-- 장바구니 -->
					<div class="btn_cart">
						<i class="icon_cart"></i>
						<a href="#none" class="go_view"><span class="blind">장바구니담기</span></a>
					</div>
					<!--// 장바구니 -->
					<p class="status_txt">품절</p><!-- 상품상태값:텍스트수정 -->
				</div>
				<!--// 이미지 -->

				<!-- 상품명 -->
				<div class="txt">
					<p class="brand">락토핏</p>
					<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
				</div>
				<!--// 상품명 -->

				<!-- 구매평 -->
				<div class="buy_info">
					<p class="grade">5.0</p>
					<p class="quaty">
						<span>5,000</span>개 리뷰
					</p>
				</div>
				<!--// 구매평 -->

				<!-- 판매가 -->
				<div class="sale_info">
					<div class="price">
						<p class="upto">25%</p>
						<p><strong>37,500</strong>원</p>
					</div>
					<del>50,000원</del>
				</div>
				<!--// 판매가 -->

				<!-- 상품라벨 -->
				<div class="prd_label">
					<p class="icon_label cp">
						<i class="icon cp"></i>
						20%
					</p>
					<p class="add">추가적립</p>
					<p class="gift">사은품</p>
					<p class="deliv">무료배송</p>
				</div>
				<!--// 상품라벨 -->
				<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
			</div>
		</div>
		<!--// 1세트 -->
		<div class="prd_group">
			<div class="cotn">
				<div class="img_area">
					<figure class="img">
						<img src="../assets/images/temp/prd_02.jpg" alt="">
					</figure>
					<div class="form_chk">
						<label class="group">
							<input type="checkbox">
							<i class="icon"></i>
						</label>
					</div>
					<div class="btn_cart">
						<i class="icon_cart"></i>
						<a href="#none" class="go_view"><span class="blind">장바구니담기</span></a>
					</div>
					<p class="status_txt">품절</p>
				</div>
				<div class="txt">
					<p class="brand">락토핏</p>
					<h1 class="name">★한정할인★락토핏 생유산</h1>
				</div>
				<div class="buy_info">
					<p class="grade">5.0</p>
					<p class="quaty">
						<span>5,000</span>개 리뷰
					</p>
				</div>
				<div class="sale_info">
					<div class="price">
						<p class="upto">25%</p>
						<p><strong>37,500</strong>원</p>
					</div>
					<del>50,000원</del>
				</div>
				<div class="prd_label">
					<p class="icon_label cp">
						<i class="icon cp"></i>
						20%
					</p>
					<p class="add">추가적립</p>
					<p class="deliv">무료배송</p>
				</div>
				<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
			</div>
		</div>
	</div>
	<!-- 상품목록:체크박스 + 장바구니 -->

	<hr class="div_gap">
	<p class="tit">👉 상품목록:가로</p>
	<!-- 상품목록(가로)_기본 -->
	<div class="prod_h_wrap">
		<!-- 1세트 -->
		<div class="prd_group_h on_dim"><!-- 상태값필요할때 class="on_dim"추가 -->
			<div class="cotn">
				<div class="prd_artic">
					<!-- 이미지 -->
					<div class="img_area">
						<figure class="img">
							<img src="../assets/images/temp/prd_01.jpg" alt="">
						</figure>
						<p class="status_txt">품절</p><!-- 상품상태값:텍스트수정 -->
					</div>
					<!--// 이미지 -->

					<!-- 판매정보 -->
					<div class="prd_verti_info">
						<!-- 상품명 -->
						<div class="txt">
							<p class="brand">락토핏</p>
							<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
							<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
						</div>
						<!--// 상품명 -->
						<div class="object_area">
							<div class="sale_info">
								<div class="price">
									<p>37,500원</p>
								</div>
								<del>50,000원</del>
								<div class="prd_num">
									<p>1개</p>
								</div>
							</div>
						</div>
					</div>
					<!--// 판매정보 -->
				</div>
			</div>
		</div>
		<!--// 1세트 -->

		<!-- 2세트 -->
		<div class="prd_group_h"><!-- 상태값필요할때 class="on_dim"추가 -->
			<div class="cotn">
				<div class="prd_artic">
					<!-- 이미지 -->
					<div class="img_area">
						<figure class="img">
							<img src="../assets/images/temp/prd_01.jpg" alt="">
						</figure>
						<p class="status_txt">품절</p><!-- 상품상태값:텍스트수정 -->
					</div>
					<!--// 이미지 -->

					<!-- 판매정보 -->
					<div class="prd_verti_info">
						<!-- 상품명 -->
						<div class="txt">
							<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
							<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
						</div>
						<!--// 상품명 -->
						<div class="object_area">
							<div class="sale_info">
								<div class="prd_num_14">
									<p>1개</p>
								</div>
							</div>
						</div>
					</div>
					<!--// 판매정보 -->
				</div>
			</div>
		</div>
		<!--// 2세트 -->

		<!-- 3세트 -->
		<div class="prd_group_h"><!-- 상태값필요할때 class="on_dim"추가 -->
			<div class="cotn">
				<div class="prd_artic">
					<!-- 이미지 -->
					<div class="img_area">
						<figure class="img">
							<img src="../assets/images/temp/prd_01.jpg" alt="">
						</figure>
						<p class="status_txt">품절</p><!-- 상품상태값:텍스트수정 -->
					</div>
					<!--// 이미지 -->

					<!-- 판매정보 -->
					<div class="prd_verti_info">
						<!-- 상품명 -->
						<div class="txt">
							<p class="brand">락토핏</p>
							<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
							<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
						</div>
						<!--// 상품명 -->
						<div class="object_area">
							<div class="txt_prd_info">
								<p class="dead_line">작성기한 : ~ 2022.03.05 까지</p>
							</div>
						</div>
					</div>
					<!--// 판매정보 -->
				</div>
			</div>
		</div>
		<!--// 3세트 -->
	</div>
	<!--// 상품목록(가로)_기본 -->

	<hr class="div_gap">

	<p class="tit">👉 상품목록:가로_체크박스</p>
	<!-- 상품목록(가로)_체크박스 -->
	<div class="prod_h_wrap prd_check">
		<!-- 1세트 -->
		<div class="prd_group_h"><!-- 상태값필요할때 class="on_dim"추가 -->
			<div class="cotn">
				<div class="prd_artic">
					<div class="form_chk">
						<label class="group">
							<input type="checkbox" checked="">
							<i class="icon"></i>
						</label>
					</div>
					<!-- 이미지 -->
					<div class="img_area">
						<figure class="img">
							<img src="../assets/images/temp/prd_01.jpg" alt="">
						</figure>
						<p class="status_txt">품절</p><!-- 상품상태값:텍스트수정 -->
					</div>
					<!--// 이미지 -->

					<!-- 판매정보 -->
					<div class="prd_verti_info">
						<!-- 상품명 -->
						<div class="txt">
							<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
							<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
						</div>
						<!--// 상품명 -->
						<div class="object_area">
							<div class="sale_info">
								<div class="prd_num_14">
									<p>1개</p>
								</div>
							</div>
						</div>
					</div>
					<!--// 판매정보 -->
				</div>
			</div>
		</div>
		<!--// 1세트 -->
	</div>
	<!--// 상품목록(가로)_체크박스 -->

	<hr class="div_gap">

	<p class="tit">👉 상품목록:가로_라디오</p>
	<!-- 상품목록(가로)_라디오 -->
	<div class="prod_h_wrap prd_rdo">
		<!-- 1세트 -->
		<div class="prd_group_h"><!-- 상태값필요할때 class="on_dim"추가 -->
			<div class="cotn">
				<div class="prd_artic">
					<div class="form_rdo">
						<label for="tem1" class="group">
							<input type="radio" id="tem1" name="temp2">
							<i class="icon"></i>
							<span class="blind">선택</span>
						</label>
					</div>
					<!-- 이미지 -->
					<div class="img_area">
						<figure class="img">
							<img src="../assets/images/temp/prd_01.jpg" alt="">
						</figure>
						<p class="status_txt">품절</p><!-- 상품상태값:텍스트수정 -->
					</div>
					<!--// 이미지 -->

					<!-- 판매정보 -->
					<div class="prd_verti_info">
						<!-- 상품명 -->
						<div class="txt">
							<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
						</div>
						<!--// 상품명 -->
						<div class="object_area">
							<div class="sale_info">
								<div class="prd_num_14">
									<p>1개</p>
								</div>
							</div>
						</div>
					</div>
					<!--// 판매정보 -->
				</div>
			</div>
		</div>
		<!--// 1세트 -->
		<div class="prd_group_h">
			<div class="cotn">
				<div class="prd_artic">
					<div class="form_rdo">
						<label for="tem2" class="group">
							<input type="radio" id="tem2" name="temp2">
							<i class="icon"></i>
							<span class="blind">선택</span>
						</label>
					</div>
					<div class="img_area">
						<figure class="img">
							<img src="../assets/images/temp/prd_01.jpg" alt="">
						</figure>
						<p class="status_txt">품절</p>
					</div>
					<div class="prd_verti_info">
						<div class="txt">
							<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
						</div>
						<div class="object_area">
							<div class="sale_info">
								<div class="prd_num_14">
									<p>1개</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--// 상품목록(가로)_라디오 -->

	<hr class="div_gap">
	<p class="tit">👉 상품목록:가로_장바구니</p>
	<!-- 상품목록(가로)_장바구니 -->
	<div class="prod_h_wrap prd_check prd_cart">
		<!-- 1세트 -->
		<div class="prd_group_h"><!-- 상태값필요할때 class="on_dim"추가 -->
			<div class="cotn">
				<div class="prd_artic">
					<div class="prd_delt">
						<a href="#none">
							<span class="blind">상품삭제</span>
						</a>
					</div>
					<div class="form_chk">
						<label class="group">
							<input type="checkbox" checked="">
							<i class="icon"></i>
						</label>
					</div>
					<!-- 이미지 -->
					<div class="img_area">
						<figure class="img">
							<img src="../assets/images/temp/prd_01.jpg" alt="">
						</figure>
						<p class="status_txt">품절</p><!-- 상품상태값:텍스트수정 -->
					</div>
					<!--// 이미지 -->

					<!-- 판매정보 -->
					<div class="prd_verti_info">
						<!-- 상품명 -->
						<div class="txt">
							<p class="brand">락토핏</p>
							<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
							<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
						</div>
						<!--// 상품명 -->
						<div class="object_area">
							<div class="sale_info">
								<div class="price">
									<p>37,500원</p>
								</div>
								<del>50,000원</del>
								<div class="prd_num">
									<p>1개</p>
								</div>
							</div>
						</div>
					</div>
					<!--// 판매정보 -->
				</div>
				<div class="prd_artic">
					<div class="select_qty">
						<input type="tel" placeholder="0" maxlength="3" value="999">
						<button type="button" class="btn_ctrl minus"><span class="blind">수량 감소</span></button>
						<button type="button" class="btn_ctrl plus"><span class="blind">수량 증가</span></button>
					</div>
				</div>
			</div>
		</div>
		<!--// 1세트 -->
		<!-- 2세트(비활성화 시) -->
		<div class="prd_group_h on_dim"><!-- 상태값필요할때 class="on_dim"추가 -->
			<div class="cotn">
				<div class="prd_artic">
					<div class="prd_delt">
						<a href="#none">
							<span class="blind">상품삭제</span>
						</a>
					</div>
					<div class="form_chk">
						<label class="group">
							<input type="checkbox" disabled>
							<i class="icon"></i>
						</label>
					</div>
					<!-- 이미지 -->
					<div class="img_area">
						<figure class="img">
							<img src="../assets/images/temp/prd_01.jpg" alt="">
						</figure>
						<p class="status_txt">품절</p><!-- 상품상태값:텍스트수정 -->
					</div>
					<!--// 이미지 -->

					<!-- 판매정보 -->
					<div class="prd_verti_info">
						<!-- 상품명 -->
						<div class="txt">
							<p class="brand">락토핏</p>
							<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
							<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
						</div>
						<!--// 상품명 -->
						<div class="object_area">
							<div class="sale_info">
								<div class="price">
									<p>37,500원</p>
								</div>
								<del>50,000원</del>
								<div class="prd_num">
									<p>1개</p>
								</div>
							</div>
						</div>
					</div>
					<!--// 판매정보 -->
				</div>
				<div class="prd_artic">
					<div class="select_qty">
						<input type="tel" placeholder="0" maxlength="3" value="999">
						<button type="button" class="btn_ctrl minus"><span class="blind">수량 감소</span></button>
						<button type="button" class="btn_ctrl plus"><span class="blind">수량 증가</span></button>
					</div>
				</div>
			</div>
		</div>
		<!--// 2세트(비활성화 시) -->
	</div>
	<!--// 상품목록(가로)_장바구니 -->

	<hr class="div_gap">

	<p class="tit">👉 상품목록:가로_장바구니(Box Shadow)</p>
	<!-- 상품목록(가로)_장바구니 박스 -->
	<div class="box_bor_wh shadow">
		<div class="prod_h_wrap prd_check prd_cart">
			<!-- 1세트 -->
			<div class="prd_group_h"><!-- 상태값필요할때 class="on_dim"추가 -->
				<div class="cotn">
					<div class="prd_artic">
						<div class="prd_delt">
							<a href="#none">
								<span class="blind">상품삭제</span>
							</a>
						</div>
						<div class="form_chk">
							<label class="group">
								<input type="checkbox" checked="">
								<i class="icon"></i>
							</label>
						</div>
						<!-- 이미지 -->
						<div class="img_area">
							<figure class="img">
								<img src="../assets/images/temp/prd_01.jpg" alt="">
							</figure>
							<p class="status_txt">품절</p><!-- 상품상태값:텍스트수정 -->
						</div>
						<!--// 이미지 -->

						<!-- 판매정보 -->
						<div class="prd_verti_info">
							<!-- 상품명 -->
							<div class="txt">
								<p class="brand">락토핏</p>
								<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
								<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
							</div>
							<!--// 상품명 -->
							<div class="object_area">
								<div class="sale_info">
									<div class="price">
										<p>37,500원</p>
									</div>
									<del>50,000원</del>
									<div class="prd_num">
										<p>2회 구매</p>
									</div>
								</div>
							</div>
						</div>
						<!--// 판매정보 -->
					</div>
					<div class="prd_artic">
						<div class="select_qty">
							<input type="tel" placeholder="0" maxlength="3" value="999">
							<button type="button" class="btn_ctrl minus"><span class="blind">수량 감소</span></button>
							<button type="button" class="btn_ctrl plus"><span class="blind">수량 증가</span></button>
						</div>
					</div>
				</div>
			</div>
			<!--// 1세트 -->
		</div>
	</div>
	<!--// 상품목록(가로)_장바구니 박스 -->

	<p class="tit">👉 상품목록:가로_썸네일 이미지(64*64)</p>
    <!-- 상품목록(가로)_썸네일 이미지(64*64) -->
	<div class="box_bor_wh shadow">
		<div class="prod_h_wrap">
			<div class="prd_group_h small"><!-- class="small" 추가 -->
				<div class="cotn">
					<div class="prd_artic">
						<div class="prd_delt">
							<a href="#none">
								<span class="blind">상품삭제</span>
							</a>
						</div>
						<!-- 이미지 -->
						<div class="img_area">
							<figure class="img">
								<img src="../assets/images/temp/prd_01.jpg" alt="">
							</figure>
						</div>
						<!--// 이미지 -->

						<!-- 판매정보 -->
						<div class="prd_verti_info">
							<!-- 상품명 -->
							<div class="txt">
								<p class="txt_prd_code">
									<span>상품코드</span>
									<i class="icon_stick"></i>
									<span>123456789</span>
								</p>
								<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
								<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
							</div>
							<!--// 상품명 -->
						</div>
						<!--// 판매정보 -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--// 상품목록(가로)_썸네일 이미지(64*64) -->
	<p class="tit">👉 상품목록:가로_상품선택 체크박스</p>
    <!-- 상품목록:가로_상품선택 체크박스  -->
	<div class="form_chk box in_prd on">
		<label class="group">
			<input type="checkbox" checked="">
			<i class="icon"></i>
			<span class="blind">선택</span>
		</label>
		<div class="cotn">
			 <div class="prod_h_wrap">
				<div class="prd_group_h small"><!-- 상태값필요할때 class="on_dim"추가 -->
					<div class="cotn">
						<div class="prd_artic">
							<!-- 이미지 -->
							<div class="img_area">
								<figure class="img">
									<img src="../assets/images/temp/prd_01.jpg" alt="">
								</figure>
								<p class="status_txt">품절</p>
							</div>
							<!--// 이미지 -->

							<!-- 판매정보 -->
							<div class="prd_verti_info">
								<!-- 상품명 -->
								<div class="txt">
									<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
								</div>
								<!--// 상품명 -->
								<div class="object_area">
									<div class="sale_info">
										<div class="prd_num_14">
											<p>1개</p>
										</div>
									</div>
								</div>
							</div>
							<!--// 판매정보 -->
						</div>
					</div>
				</div>
			 </div>
		</div>
	</div>
	<!-- //상품목록:가로_상품선택 체크박스 -->

	<hr class="div_gap">

	<p class="tit">👉 상품목록:가로형_체크박스+장바구니</p>

	<!-- 상품목록:가로형_체크박스+장바구니 -->
	<div class="prod_h_wrap">
		<!-- 1세트 -->
		<div class="prd_group_h prd_chk_cart on_dim"><!-- 상태값필요할때 class="on_dim"추가 -->
			<div class="cotn">
				<div class="prd_artic">
					<!-- 이미지 -->
					<div class="img_area">
						<figure class="img">
							<img src="../assets/images/temp/prd_08.jpg" alt="">
						</figure>
						<div class="form_chk">
							<label class="group">
								<input type="checkbox">
								<i class="icon"></i>
							</label>
						</div>
						<p class="status_txt">품절</p><!-- 상품상태값:텍스트수정 -->
					</div>
					<!--// 이미지 -->

					<!-- 판매정보 -->
					<div class="prd_verti_info">
						<!-- 상품명 -->
						<div class="txt">
							<p class="brand">락토핏</p>
							<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
							<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
						</div>
						<!--// 상품명 -->
						<div class="buy_info">
							<p class="grade">5.0</p>
							<p class="quaty">
								<span>5,000</span>개 리뷰
							</p>
						</div>
						<div class="object_area">
							<div class="sale_info">
								<div class="price">
									<p class="upto">25%</p>
									<p><strong>37,500</strong>원</p>
								</div>
								<del>50,000원</del>
							</div>
							<div class="prd_num">
								<p>1회 구매</p>
							</div>
						</div>
						<div class="prd_btn">
							<a href="#none" class="wish on"><!-- 관심상품등록 class="on"추가 -->
								<span class="blind">관심상품</span>
							</a>
							<a href="#none" class="cart">
								<span class="blind">장바구니</span>
							</a>
						</div>
					</div>
					<!--// 판매정보 -->
				</div>
			</div>
		</div>
		<!--// 1세트 -->
		<div class="prd_group_h prd_chk_cart">
			<div class="cotn">
				<div class="prd_artic">
					<div class="img_area">
						<figure class="img">
							<img src="../assets/images/temp/prd_07.jpg" alt="">
						</figure>
						<div class="form_chk">
							<label class="group">
								<input type="checkbox">
								<i class="icon"></i>
							</label>
						</div>
						<p class="status_txt">품절</p>
					</div>
					<div class="prd_verti_info">
						<div class="txt">
							<p class="brand">락토핏</p>
							<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
						</div>
						<div class="buy_info">
							<p class="grade">5.0</p>
							<p class="quaty">
								<span>5,000</span>개 리뷰
							</p>
						</div>
						<div class="object_area">
							<div class="sale_info">
								<div class="price">
									<p class="upto">25%</p>
									<p><strong>37,500</strong>원</p>
								</div>
								<del>50,000원</del>
							</div>
							<div class="prd_num">
								<p>1회 구매</p>
							</div>
						</div>
						<div class="prd_btn">
							<a href="#none" class="wish">
								<span class="blind">관심상품</span>
							</a>
							<a href="#none" class="cart">
								<span class="blind">장바구니</span>
							</a>
						</div>
					</div>
				</div>
				<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
			</div>
		</div>
	</div>
	<!--// 상품목록:가로형_체크박스+장바구니 -->
</div>
<!--// #WRAP -->
</body>
</html>
