<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<link rel="stylesheet" href="../../assets/css/jquery-ui.min.css">
	<link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="../../assets/css/ui.public.css">
	<link rel="stylesheet" href="../assets/css/ui.common.css">
	<script type="text/javascript" src="../../assets/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="../../assets/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../assets/js/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="../assets/js/ui.common.js"></script>
	<link rel="stylesheet" href="guide.css"><!-- 가이드전용CSS -->
	<title>서브페이지 가이드</title>
</head>
<body>
<!-- #WRAP -->
<div id="wrap" style="padding:0;">
	<!-- #HEADER -->
	<!-- 헤더 레이아웃 메뉴별 CSS에서 세팅 후 헤더영역 삭제:세팅 끝나고 이 주석 삭제 -->
	<!-- 헤더 영역 : /layout/header.html에서 확인 -->
	<header id="header">
		<div class="head_wrap">
			<!-- 서브헤드 -->
			<div class="sub_head">
				<h1 class="sub_tit">페이지타이틀</h1>
				<a href="#none" class="go_back">
					<span class="blind">뒤로가기</span>
				</a>
			</div>
			<!--// 서브헤드 -->

			<!-- 메인헤드 -->
			<div class="idx_head">
				<h1 class="logo">
					<a href="#none">
						<img src="../assets/images/common/logo_01.svg" alt="종근당건강몰">
					</a>
				</h1>
				<div class="search">
					<p>유산균 건강</p>
					<i class="search"></i>
					<a href="#none" class="go_view"><span class="blind">검색</span></a>
				</div>
			</div>
			<!--// 메인헤드 -->

			<!-- 버튼메뉴 -->
			<div class="menu_wrap">
				<div class="btn_menu home">
					<a href="#none">
						<span class="blind">메인으로이동</span>
					</a>
				</div>
				<div class="btn_menu alarm on"><!-- 알람있을경우 class="on" 추가 -->
					<a href="#none">
						<span class="blind">알람</span>
						<span class="amount">99</span>
					</a>
				</div>
				<div class="btn_menu cart on"><!-- 장바구니상품추가 class="on" 추가 -->
					<a href="#none">
						<span class="blind">장바구니</span>
						<span class="amount">8</span>
					</a>
				</div>
			</div>
			<!--// 버튼메뉴 -->
		</div>
	</header>
	<!--// #HEADER -->

	<!-- #CONTAINER -->
	<div id="container">
		<!-- #CONTENTS -->
		<div id="contents">
			<div class="sub">
				<p class="tit">👉 완료메세지</p>

				<!-- 완료메세지 -->
				<section class="cmplt_msg">
					<figure class="img">
						<img src="../assets/images/common/icon_cmplt_01.png" alt="">
					</figure>
					<p class="mn_copy tit_20">
						<strong>주문취소</strong>가 완료되었습니다.
					</p>
					<p class="sb_copy">입금된 내역이 없어 미입금 취소 됩니다.</p>
				</section>
				<!--// 완료메세지 -->

				<hr class="div_gap">
				<p class="tit">👉 데이터없음</p>
				<!-- 데이터없음 -->
				<div class="data_none">
					<div class="cotn">
						<i class="icon_none"></i>
						<p class="mn_copy">검색 결과가 없습니다.</p>
					</div>

					<!-- 버튼 -->
					<div class="btn_wrap" btn-type="sub_bt">
						<a href="#none" class="btn bc_fff_02">쇼핑하러 가기</a>
					</div>
					<!--// 버튼  -->
				</div>
				<!--// 데이터없음 -->

				<hr class="div_gap">
				<!-- 데이터없음 -->
				<div class="data_none">
					<div class="cotn">
						<i class="icon_none"></i>
						<p class="mn_copy">등록 된 리뷰가 없습니다.<br>주문 후 리뷰를 작성해보세요.</p>
					</div>
				</div>
				<!--// 데이터없음 -->

				<hr class="div_gap">

				<p class="tit">👉 정보등록 박스 형</p>
				<div class="add_box_wrap">
					<div class="add_box box_bor_wh bg_f9fafc">
						<p class="info_txt">배송지 등록</p>
						<i class="icon_add"></i>
					</div>
					<a href="#none" class="go_view">
						<span class="blind">배송지 등록</span>
					</a>
				</div>

				<div class="add_box_wrap">
					<div class="add_box box_bor_wh bg_f9fafc">
						<p class="info_txt">환불계좌가 등록되어 있지 않습니다.</p>
						<i class="icon_add"></i>
					</div>
					<a href="#none" class="go_view">
						<span class="blind">정보등록</span>
					</a>
				</div>

				<hr class="div_gap">

				<div style="margin-bottom:40px;">
					<p class="tit">👉스와이프 페이징 : 도트 흰색</p>
					<div class="g_ex">
						<p>div class="swiper-pagination" 영역만 참고할 것</p>
					</div>
					<div class="swp_dot1" style="background-color:#333;">
						<div class="swiper">
							<div class="swiper-wrapper" style="height:7vw;">
								<div class="bnr_set swiper-slide" style="height:100%; width:100%;"></div>
								<div class="bnr_set swiper-slide" style="height:100%; width:100%;"></div>
								<div class="bnr_set swiper-slide" style="height:100%; width:100%;"></div>
							</div>
							<div class="dot_paging wh swiper-pagination"></div><!-- 인디게이터 -->
						</div>
					</div>
					<script>
						var swp_dot1 = new Swiper(".swp_dot1 .swiper", {
							spaceBetween: 8,
							pagination: {
								el: ".swp_dot1 .dot_paging",
							},
						});
					</script>
				</div>

				<div style="margin-bottom:40px;">
					<p class="tit">👉스와이프 페이징 : 도트 검정</p>
					<div class="g_ex">
						<p>div class="swiper-pagination" 영역만 참고할 것</p>
					</div>
					<div class="swp_dot2" style="background-color:#f0f0f0;">
						<div class="swiper">
							<div class="swiper-wrapper" style="height:7vw;">
								<div class="bnr_set swiper-slide" style="height:100%; width:100%;"></div>
								<div class="bnr_set swiper-slide" style="height:100%; width:100%;"></div>
								<div class="bnr_set swiper-slide" style="height:100%; width:100%;"></div>
							</div>
							<div class="dot_paging swiper-pagination"></div><!-- 인디게이터 -->
						</div>
					</div>
					<script>
						var swp_dot2 = new Swiper(".swp_dot2 .swiper", {
							spaceBetween: 8,
							pagination: {
								el: ".swp_dot2 .dot_paging",
							},
						});
					</script>
				</div>

				<div style="margin-bottom:40px;">
					<p class="tit">👉스와이프 페이징 : 숫자</p>
					<div class="g_ex">
						<p>div class="swiper-pagination" 영역만 참고할 것</p>
					</div>
					<div class="swp_dot3" style="background-color:#999;">
						<div class="swiper">
							<div class="swiper-wrapper" style="height:10vw;">
								<div class="bnr_set swiper-slide" style="height:100%; width:100%;"></div>
								<div class="bnr_set swiper-slide" style="height:100%; width:100%;"></div>
								<div class="bnr_set swiper-slide" style="height:100%; width:100%;"></div>
							</div>
							<div class="num_paging swiper-pagination"></div><!-- 인디게이터 -->
						</div>
					</div>
					<style>
						.num_paging {bottom:0;}
					</style>
					<script>
						var swp_dot3 = new Swiper(".swp_dot3 .swiper", {
							pagination: {
								el: ".num_paging",
								type: "fraction",
							},
						});
					</script>
				</div>

				<p class="tit">👉주문상품 분류(상온&실온/냉동&냉장)</p>
				<!-- 주문상품 분류(상온&실온/냉동&냉장) -->
				<div class="ord_list_sec">
					<!-- 주문 리스트 -->
					<div class="ord_list_wrap">
						<!--  상온/실온 -->
						<div class="ord_list_box">
							<div class="tit_ord_area">
								<div class="lef_state">
									<div class="ord_state">
										<p class="txt_14">입금대기</p>
									</div>
								</div>
								<div class="rit_state">
									<p class="tit_temp warm">상온/실온</p>
								</div>
							</div>
							<div class="ord_prd_cont">
								<div class="ord_prd_list">
									<div class="prod_h_wrap">
										<!-- 1세트 -->
										<div class="prd_group_h"><!-- 상태값필요할때 class="on_dim"추가 -->
											<div class="cotn">
												<div class="prd_artic">
													<!-- 이미지 -->
													<div class="img_area">
														<figure class="img">
															<img src="../assets/images/temp/prd_01.jpg" alt="">
														</figure>
														<p class="status_txt">품절</p><!-- 상품상태값:텍스트수정 -->
													</div>
													<!--// 이미지 -->

													<!-- 판매정보 -->
													<div class="prd_verti_info">
														<!-- 상품명 -->
														<div class="txt">
															<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
														</div>
														<!--// 상품명 -->
														<div class="object_area">
															<div class="sale_info">
																<div class="prd_num_12">
																	<p>
																		<span>1개</span>
																		<strong>외 3건</strong>
																	</p>
																</div>
															</div>
														</div>
													</div>
													<!--// 판매정보 -->
												</div>
												<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
											</div>
										</div>
										<!--// 1세트 -->
									</div>
								</div>
							</div>
						</div>
						<!--//  상온/실온 -->

						<!--  냉동/냉장 -->
						<div class="ord_list_box">
							<div class="tit_ord_area">
								<div class="lef_state">
									<div class="ord_state">
										<p class="txt_14">배송 준비중</p>
									</div>
								</div>
								<div class="rit_state">
									<p class="tit_temp ice">냉동/냉장</p>
								</div>
							</div>
							<div class="ord_prd_cont">
								<div class="ord_prd_list">
									<div class="prod_h_wrap">
										<!-- 1세트 -->
										<div class="prd_group_h"><!-- 상태값필요할때 class="on_dim"추가 -->
											<div class="cotn">
												<div class="prd_artic">
													<!-- 이미지 -->
													<div class="img_area">
														<figure class="img">
															<img src="../assets/images/temp/prd_01.jpg" alt="">
														</figure>
														<p class="status_txt">품절</p><!-- 상품상태값:텍스트수정 -->
													</div>
													<!--// 이미지 -->

													<!-- 판매정보 -->
													<div class="prd_verti_info">
														<!-- 상품명 -->
														<div class="txt">
															<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
														</div>
														<!--// 상품명 -->
														<div class="object_area">
															<div class="sale_info">
																<div class="prd_num_12">
																	<p>
																		<span>1개</span>
																		<strong>외 3건</strong>
																	</p>
																</div>
															</div>
														</div>
													</div>
													<!--// 판매정보 -->
													<a href="#none" class="go_view"><span class="blind">상품상세 이동</span></a>
												</div>
												<!-- 적립금&사은품 -->
												<div class="ord_gift_wrap">
													<div class="box_gy gift_box">
														<div class="gift_line">
															<figure class="img">
																<img src="../assets/images/common/icon_point.svg" alt="">
															</figure>
															<div class="txt_area">
																<h4>추가 적립금</h4>
																<div class="gift_txt">
																	<p>10% 추가적립</p>
																</div>
															</div>
															<p class="amount">
																<strong>14,500</strong><span>P</span>
															</p>
														</div>
														<div class="gift_line">
															<figure class="img">
																<img src="../assets/images/temp/prd_01.jpg" alt="">
															</figure>
															<div class="txt_area">
																<h4>사은품</h4>
																<div class="gift_txt">
																	<p>2월 20%추가할인 락토핏 생유산균 골드골드골드골드골드</p>
																</div>
															</div>
															<p class="amount">
																<strong>99</strong><span>개</span>
															</p>
														</div>
													</div>
												</div>
												<!--// 적립금&사은품 -->
											</div>
										</div>
										<!--// 1세트 -->
									</div>
								</div>
								<div class="btn_wrap btn_num05" btn-type="sub_bt"> <!--  5개 버튼일 때 class="btn_num05" 추가 -->
									<a href="#none" class="btn bc_fff h_32">배송지 변경</a>
									<a href="#none" class="btn bc_fff h_32">주문취소</a>
									<a href="#none" class="btn bc_fff h_32">주문취소</a>
									<a href="#none" class="btn bc_fff h_32">주문취소</a>
									<a href="#none" class="btn bc_fff_02 h_32">구매확정</a>
								</div>
							</div>
						</div>
						<!--//  냉동/냉장 -->
					</div>
					<!--// 주문 리스트 -->
					<!-- 구매사은품 -->
					<div class="purchase_gift">
						<div class="box_bor_wh shadow">
							<div class="tit_gift_area">
								<div class="gift_tit">
									<p class="tit_14">금액대별 사은품</p>
								</div>
								<div class="gift_info_txt">
									<p><span>10</span>만원 이상 구매 시 지급</p>
								</div>
							</div>
							<div class="gift_prd_cotn">
								<div class="prd_group_h on_dim"><!-- 상태값필요할때 class="on_dim"추가 -->
									<div class="cotn">
										<div class="prd_artic">
											<!-- 이미지 -->
											<div class="img_area">
												<figure class="img">
													<img src="../assets/images/temp/prd_01.jpg" alt="">
												</figure>
												<p class="status_txt">미지급<br>대상</p><!-- 상품상태값:텍스트수정 -->
											</div>
											<!--// 이미지 -->

											<!-- 판매정보 -->
											<div class="prd_verti_info">
												<!-- 상품명 -->
												<div class="txt">
													<h1 class="name">락토핏 생유산균 베베 1박스 (2개월분) 일주일간 특가 오픈!!</h1>
												</div>
												<!--// 상품명 -->
												<div class="object_area">
													<div class="sale_info">
														<div class="prd_num_14">
															<p>1개</p>
														</div>
													</div>
												</div>
											</div>
											<!--// 판매정보 -->
										</div>
									</div>
								</div>
								<div class="ord_err_msg">
									<p class="err_msg">상품 취소 시 구매사은품이 취소 될 수 있습니다.</p>
								</div>
							</div>
						</div>
					</div>
					<!--// 구매사은품 -->
					<div class="btn_wrap" btn-type="sub_bt"> <!--  5개 버튼일 때 class="btn_num05" 추가 -->
						<a href="#none" class="btn bc_fff h_32">배송지 변경</a>
						<a href="#none" class="btn bc_fff h_32">주문취소</a>
					</div>
				</div>
				<!--// 주문상품 분류(상온&실온/냉동&냉장) -->

				<hr class="div_gap">
				<p class="tit">👉 탭 컨텐츠</p>
				<div class="g_ex">
					<p>탭메뉴 버튼 div class : btn_tab <br>&gt; 링크값 cotn_div의 id값으로 설정</p>
					<p>탭별 컨텐츠 div class : cotn_div <br>&gt; id="값" 설정</p>
				</div>
				<!-- 탭컨텐츠 -->
				<div class="tab_cotn_wrap">
					<!-- 탭메뉴 -->
					<div class="tab_menu line">
						<!-- 1세트 -->
						<div class="btn_tab on"><!-- 활성화 : class="on" 추가 -->
							<a href="#cotn1">
								<span>탭메뉴1</span>
							</a>
						</div>
						<!--// 1세트 -->
						<div class="btn_tab">
							<a href="#cotn2">
								<span>탭메뉴2</span>
							</a>
						</div>
					</div>
					<!--// 탭메뉴 -->

					<!-- 탭별컨텐츠 -->
					<div class="tab_cotn_area">
						<!-- #01_컨텐츠1 -->
						<div id="cotn1" class="cotn_div">
							<p>탭별컨텐츠 #1</p>
							<div><img src="../assets/images/temp/dtl_03.jpg" alt="" style="width:100%;"></div>
						</div>
						<!--// #01_컨텐츠1 -->

						<!-- #02_컨텐츠2 -->
						<div id="cotn2" class="cotn_div" style="display:none;">
							<p>탭별컨텐츠 #2</p>
							<div><img src="../assets/images/temp/dtl_05.jpg" alt="" style="width:100%;"></div>
						</div>
						<!--// #02_컨텐츠2 -->
					</div>
					<!--// 탭별컨텐츠 -->
				</div>
				<!--// 탭컨텐츠 -->
			</div>
		</div>
		<!--// #CONTENTS -->
	</div>
	<!--// #CONTAINER -->

	<!-- 하단고정버튼 -->
	<div class="bottom_btn">
		<a href="#none" class="btn back"><span class="blind">뒤로가기</span></a>
		<a href="#none" class="btn chat_bot"><span class="blind">챗봇</span></a>
		<a href="#none" class="btn go_top"><span class="blind">페이지 맨 위로 이동</span></a>
	</div>
	<!--// 하단고정버튼 -->

	<!-- 탭바 -->
	<aside class="tab_bar">
		<div class="cotn">
			<div class="btn home on"><!-- 활성화 class="on" 추가 -->
				<a href="#none">
					<i class="icon"></i><span class="blind">홈</span>
				</a>
			</div>
			<div class="btn srch">
				<a href="#none">
					<i class="icon"></i><span class="blind">검색</span>
				</a>
			</div>
			<div class="btn coupn">
				<a href="#none">
					<i class="icon"></i><span class="blind">쿠폰</span>
				</a>
			</div>
			<div class="btn my">
				<a href="#none">
					<i class="icon"></i><span class="blind">마이페이지</span>
				</a>
			</div>
			<div class="btn prd_img">
				<div class="img_area">
					<figure class="img">
						<img src="../assets/images/temp/temp_07.jpg" alt="">
					</figure>
				</div>
				<a href="#none" class="go_view">
					<span class="blind">최근본상품</span>
				</a>
			</div>
		</div>
	</aside>
	<!--// 탭바 -->

	<!-- #FOOTER -->
	<footer id="footer">
		<!-- 공지사항 -->
		<div class="foo_noti_sec">
			<h3 class="tit_14">공지사항</h3>
			<div class="foo_noti_bnr">
				<div class="swiper">
					<div class="swiper-wrapper">
						<!-- 1세트 -->
						<div class="swiper-slide">
							<a href="#none">[당첨자 발표] 락토핏 신제품 체험단 선정완료 당첨자 발표] 락토핏 신제품 체험단 선정완료</a>
						</div>
						<!--// 1세트 -->
						<div class="swiper-slide">
							<a href="#none">[당첨자 발표] 락토핏 신제품</a>
						</div>
						<div class="swiper-slide">
							<a href="#none">[당첨자 발표] 락토핏 신제품</a>
						</div>
						<div class="swiper-slide">
							<a href="#none">[당첨자 발표] 락토핏 신제품 체험단 선정완료 당첨자 발표] 락토핏 신제품 체험단 선정완료</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--// 공지사항 -->

		<!-- 컨텐츠 -->
		<div class="footer_area">
			<!-- sns버튼 -->
			<div class="sns_wrap">
				<div class="btn_sns_wrap">
					<a href="#none" class="icon insta"><span class="blind">인스타그램</span></a>
					<a href="#none" class="icon fb"><span class="blind">페이스북</span></a>
					<a href="#none" class="icon blog"><span class="blind">블로그</span></a>
					<a href="#none" class="icon naver"><span class="blind">네이버</span></a>
					<a href="#none" class="icon yt"><span class="blind">유튜브</span></a>
				</div>
				<div class="btn_foo_wrap">
					<a href="#none" class="btn btn_logout">로그아웃</a>
				</div>
			</div>
			<!--// sns버튼 -->

			<!-- 약관링크 -->
			<div class="corp_wrap">
				<div class="link_wrap">
					<a href="#none" class="foo_link">회사소개</a>
				</div>
				<div class="link_wrap">
					<a href="#none" class="foo_link">이용약관</a>
				</div>
				<div class="link_wrap">
					<a href="#none" class="foo_link">개인정보처리방침</a>
				</div>
			</div>
			<!--// 약관링크 -->

			<!-- 고객센터 -->
			<div class="foo_cs_wrap">
				<div class="cs_info">
					<div class="contact">
						<p class="tit_16">
							고객센터 <a href="tel:1668-4265" class="cs_tel">1668-4265</a>
						</p>
						<a href="#none" class="btn_cs">
							<span class="blind">FAQ이동</span>
						</a>
					</div>
					<p class="cs_time">
						<span>평일</span> 오전 9시~오후 8시
					</p>
				</div>
				<div class="btn_foo_wrap">
					<a href="#none" class="btn btn_qna">1:1문의하기</a>
				</div>
			</div>
			<!--// 고객센터 -->

			<!-- 하단메뉴 -->
			<div class="foo_link_box">
				<div class="link_wrap">
					<a href="#none" class="foo_link">제휴/대량구매 문의</a>
				</div>
				<div class="link_wrap">
					<a href="#none" class="foo_link">기업회원 신청</a>
				</div>
				<div class="link_wrap">
					<a href="#none" class="foo_link">임직원등록</a>
				</div>
			</div>
			<!--// 하단메뉴 -->
			<!-- 패밀리 사이트 -->
			<div class="form_select">
				<select>
					<option name="" id="">Family site</option>
					<optgroup label="홀딩스">
						<option name="" id="">Family site</option>
						<option name="" id="">홀딩스</option>
					</optgroup>
					<optgroup label="헬스케어">
						<option name="" id="">종근당</option>
						<option name="" id="">종근당바이오</option>
						<option name="" id="">경보제약</option>
						<option name="" id="">종근당건강</option>
					</optgroup>
					<optgroup label="부동산임대">
						<option name="" id="">종근당산업</option>
					</optgroup>
					<optgroup label="건설/환경">
						<option name="" id="">벨이앤씨</option>
					</optgroup>
					<optgroup label="용역/운송">
						<option name="" id="">벨에스엠</option>
					</optgroup>
					<optgroup label="마켓팅솔루션">
						<option name="" id="">벨컴</option>
						<option name="" id="">벨아이앤에스</option>
					</optgroup>
				</select>
				<i class="i_select"></i>
			</div>
			<!--// 패밀리 사이드 -->
			<!-- 사업자정보 -->
			<div class="comp_info_wrap">
				<div class="accodn_wrap">
					<!-- 고정노출영역 -->
					<div class="view_fix">
						<h1 class="logo">
							<figure class="img">
								<img src="../assets/images/common/logo_01.svg" alt="종근당건강몰">
							</figure>
						</h1>
						<p class="comp_tit">
							사업자 정보
							<i class="ctrl_trg"><span class="blind">상세 컨텐츠영역 열기</span></i>
						</p>
					</div>
					<!--// 고정노출영역 -->

					<!-- 오픈컨텐츠 -->
					<div class="open_cotn">
						<div class="comp_info">
							<ul>
								<li>
									<p>종근당건강몰(주)</p>
								</li>
								<li>
									<p>대표자: 김호곤</p>
								</li>
								<li>
									<p>주소: 충남 당진시 합덕읍 인더스파크로 170 종근당건강몰</p>
								</li>
								<li>
									<p>사업자등록번호 134-81-29992</p>
									<a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=134-81-29992" target="_blank">[사업자정보확인]</a>
								</li>
								<li>
									<p>건강기능식품판매업: 제2005-74호</p>
								</li>
								<li>
									<p>통신사업자번호: 제2010-충남당진-0063호</p>
								</li>
								<li>
									<p>의료기기판매업 : 제1988호</p>
								</li>
								<li>
									<p>개인정보관리책임자: 김무관</p>
								</li>
								<li>
									<p>고객센터: 1668-4265 FAX: 02-312-4377</p>
								</li>
								<li>
									<p>이메일: <a href="mailto:CS_CKDCARE@ckdhc.com">CS_CKDCARE@ckdhc.com</a></p>
								</li>
								<li>
									<p class="txt_copy">Copyright 2021. CHONGKUNDANG HEALTHCARE Corp.<br>All rights reserved.</p>
								</li>
							</ul>
						</div>
					</div>
					<!--// 오픈컨텐츠 -->
				</div>
			</div>
			<!--// 사업자정보 -->
		</div>
		<!--// 컨텐츠 -->
	</footer>
	<!--// #FOOTER -->
</div>
<!--// #WRAP -->
<script>
	$(document).ready(function() {
		tabCotnUI(); //탭컨텐츠 show/hide UI
	});
</script>
</body>
</html>
