<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<link rel="stylesheet" href="../../assets/css/jquery-ui.min.css">
	<link rel="stylesheet" href="../../assets/css/ui.public.css">
	<link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="../assets/css/ui.common.css">
	<script type="text/javascript" src="../../assets/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="../../assets/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../assets/js/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="../assets/js/ui.common.js"></script>
	<link rel="stylesheet" href="guide.css"><!-- 가이드전용CSS -->
	<title>탭메뉴</title>
</head>

<body>
<!-- #WRAP -->
<div id="wrap">
	<p class="tit">👉 라인 탭메뉴</p>
	<!-- 탭메뉴 -->
	<div class="tab_menu line">
		<!-- 1세트 -->
		<div class="btn_tab on"><!-- 활성화 : class="on" 추가 -->
			<a href="#none">
				<span>라인탭1</span>
			</a>
		</div>
		<!--// 1세트 -->
		<div class="btn_tab">
			<a href="#none">
				<span>라인탭2</span>
			</a>
		</div>
	</div>
	<!--// 탭메뉴 -->
	<div class="tab_menu line">
		<div class="btn_tab on">
			<a href="#none">
				<span>라인탭1</span>
			</a>
		</div>
		<div class="btn_tab">
			<a href="#none">
				<span>라인탭2</span>
			</a>
		</div>
		<div class="btn_tab">
			<a href="#none">
				<span>라인탭3</span>
			</a>
		</div>
	</div>
	<div class="tab_menu line">
		<div class="btn_tab on">
			<a href="#none">
				<span>라인탭1</span>
			</a>
		</div>
		<div class="btn_tab">
			<a href="#none">
				<span>라인탭2</span>
			</a>
		</div>
		<div class="btn_tab">
			<a href="#none">
				<span>라인탭3</span>
			</a>
		</div>
		<div class="btn_tab">
			<a href="#none">
				<span>라인탭4</span>
			</a>
		</div>
	</div>
	<div class="tab_menu line">
		<div class="btn_tab on">
			<a href="#none">
				<span>라인탭1</span>
			</a>
		</div>
		<div class="btn_tab">
			<a href="#none">
				<span>라인탭2</span>
			</a>
		</div>
		<div class="btn_tab">
			<a href="#none">
				<span>라인탭3</span>
			</a>
		</div>
		<div class="btn_tab">
			<a href="#none">
				<span>라인탭4</span>
			</a>
		</div>
		<div class="btn_tab">
			<a href="#none">
				<span>라인탭5</span>
			</a>
		</div>
	</div>

	<hr class="div_gap">

	<p class="tit">👉 버튼 탭메뉴</p>
	<!-- 탭메뉴 -->
	<div class="tab_menu btn">
		<div class="swiper">
			<div class="swiper-wrapper">
				<!-- 1세트 -->
				<div class="btn_tab swiper-slide on">
					<a href="#none">
						<span>전체</span>
					</a>
				</div>
				<!--// 1세트 -->
				<div class="btn_tab swiper-slide">
					<a href="#none">
						<span>입금대기</span>
					</a>
				</div>
				<div class="btn_tab swiper-slide">
					<a href="#none">
						<span>면역건강/항산화</span>
					</a>
				</div>
				<div class="btn_tab swiper-slide">
					<a href="#none">
						<span>배송준비중</span>
					</a>
				</div>
				<div class="btn_tab swiper-slide">
					<a href="#none">
						<span>배송완료</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--// 탭메뉴 -->

	<div class="gap"></div>

	<!-- 탭메뉴 -->
	<div class="tab_menu btn">
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="btn_tab swiper-slide on">
					<a href="#none">
						<span>전체</span>
					</a>
				</div>
				<div class="btn_tab swiper-slide">
					<a href="#none">
						<span>성별 베스트</span>
					</a>
				</div>
				<div class="btn_tab swiper-slide">
					<a href="#none">
						<span>연령별 베스트</span>
					</a>
				</div>
				<div class="btn_tab swiper-slide">
					<a href="#none">
						<span>배송준비중</span>
					</a>
				</div>
				<div class="btn_tab swiper-slide">
					<a href="#none">
						<span>배송완료</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--// 탭메뉴 -->
	<hr class="div_gap">

	<p class="tit">👉 헤더네비 탭</p>
	<nav class="category_wrap h_nav_wrap">
		<!-- 뎁스별탭1세트 -->
		<div class="div_ctgry">
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="btn_tab swiper-slide on">
						<a href="#none">핫딜</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">베스트</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">기획전</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">신제품</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">선물하기</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">근력개선/근육건강</a>
					</div>
				</div>
			</div>
		</div>
		<!--// 뎁스별탭1세트 -->
	</nav>
	<p class="tit">👉 카테고리탭</p>
	<!-- 상품카테고리탭 -->
	<nav class="category_wrap">
		<!-- 뎁스별탭1세트 -->
		<div class="div_ctgry">
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="btn_tab swiper-slide on">
						<a href="#none">장건강</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">간건강</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">면역건강/항산화</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">전립선건강</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">다이어트/뷰티</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">근력개선/근육건강</a>
					</div>
				</div>
			</div>
		</div>
		<!--// 뎁스별탭1세트 -->
		<div class="div_ctgry">
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="btn_tab swiper-slide on">
						<a href="#none">전체</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">가르시아</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">곤약</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">레몬밤</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">뷰티푸드</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">식이섬유</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">와일드망고</a>
					</div>
				</div>
			</div>
		</div>
		<div class="div_ctgry">
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="btn_tab swiper-slide on">
						<a href="#none">전체</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">곤약쌀</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">곤약젤리</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">곤약가공식품</a>
					</div>
					<div class="btn_tab swiper-slide">
						<a href="#none">기타</a>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<!--// 상품카테고리탭 -->

	<hr class="div_gap">
	<p class="tit">👉 bg blue 탭</p>
	<!-- 탭메뉴 -->
	<div class="blue_btn_set tab_menu">
		<div class="btn_tab on"><!-- 활성화 : class="on" 추가 -->
			<a href="#none">1개월</a>
		</div>
		<div class="btn_tab">
			<a href="#none">3개월</a>
		</div>
		<div class="btn_tab">
			<a href="#none">6개월</a>
		</div>
		<div class="btn_tab">
			<a href="#none">5년이내</a>
		</div>
	</div>
	<!--// 탭메뉴 -->

	<div class="gap"></div>

	<!-- 탭메뉴 -->
	<div class="blue_btn_set tab_menu">
		<div class="btn_tab on"><!-- 활성화 : class="on" 추가 -->
			<a href="#none">최대 할인 추천</a>
		</div>
		<div class="btn_tab">
			<a href="#none">직접선택</a>
		</div>
	</div>
	<!--// 탭메뉴 -->


	<hr class="div_gap">
	<p class="tit">👉 버튼 고정탭메뉴</p>

	<!-- 탭메뉴 -->
	<div class="tab_menu fix">
		<div class="btn_tab on"><!-- 활성화 : class="on" 추가 -->
			<a href="#none">
				<span>전체</span>
			</a>
		</div>
		<div class="btn_tab">
			<a href="#none">
				<span>배송</span>
			</a>
		</div>
		<div class="btn_tab">
			<a href="#none">
				<span>취소/교환/반품</span>
			</a>
		</div>
		<div class="btn_tab">
			<a href="#none">
				<span>주문/결제</span>
			</a>
		</div>
		<div class="btn_tab">
			<a href="#none">
				<span>적립금/쿠폰</span>
			</a>
		</div>
		<div class="btn_tab">
			<a href="#none">
				<span>이벤트/프로모션</span>
			</a>
		</div>
		<div class="btn_tab">
			<a href="#none">
				<span>상품</span>
			</a>
		</div>
		<div class="btn_tab">
			<a href="#none">
				<span>회원/멤버십</span>
			</a>
		</div>
		<div class="btn_tab">
			<a href="#none">
				<span>서비스이용</span>
			</a>
		</div>
	</div>
	<!--// 탭메뉴 -->
</div>
<!--// #WRAP -->
</body>
</html>
